<div style="text-align: center">
  <br>
  <br>
  <label class="page-title"> Ramanathapuram District </label>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (2).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (3).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (4).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (5).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (6).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (7).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (8).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (9).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (10).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (11).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (12).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (13).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (14).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (15).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (16).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (17).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (18).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (19).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (20).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (21).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (22).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (23).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (24).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (25).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (26).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (27).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (28).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (29).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (30).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (31).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (32).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (33).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (34).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (2).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (3).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (4).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (5).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (6).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (7).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (8).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (9).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (10).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (11).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (12).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (13).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (14).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (15).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (16).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (17).jpeg">
    </div>

  </div>
</div>