<div class="main-content" style="background-color:orange; font-size:18px;">
    <h5 class="card-title"><strong>Karur Girl wins Bronze medal in CBSE Games</strong></h5>
  <div class="row">
      <div class="col-lg-6">
          <img src="assets/img/karur/karur (1).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (10).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (11).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (12).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (13).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (14).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (15).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (16).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (17).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (18).jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/karur/karur (19).jpeg">
        </div>


  </div>
</div>