<div>
  <!--Student Registration-->
  <div class="main-content">
	  
	    <!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Form
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->
          <div class="col-lg-12">
            <div class="card" style="background-color:orange;">
              <h4 class="card-title"><strong>Form</strong></h4>

              <div class="card-body" style="background-color:orange;">
                <form data-provide="wizard">
                  <ul class="nav nav-process nav-process-circle">
                    <li class="nav-item">
                      <span class="nav-title">Sign Up Form</span>
                      <a class="nav-link" data-toggle="tab" href="#wizard-form-1"></a>
                    </li>

                    <li class="nav-item">
                      <span class="nav-title">Map</span>
                      <a class="nav-link" data-toggle="tab" href="#wizard-form-2"></a>
                    </li>

                    <li class="nav-item">
                      <span class="nav-title">Subscribe</span>
                      <a class="nav-link" data-toggle="tab" href="#wizard-form-3"></a>
                    </li>

                    <li class="nav-item">
                      <span class="nav-title">Confirmation and Payment</span>
                      <a class="nav-link" data-toggle="tab" href="#wizard-form-4"></a>
                    </li>
                  </ul>


                  <div class="tab-content">
                    <div class="tab-pane fade" id="wizard-form-2">
                      <br><br>
                      <p class="text-center fs-35 text-muted">Student  <strong class="text-primary">Registration</strong></p>
                      <p class="text-center text-gray">Please complete the following 4 steps</p>
                      <hr class="w-100px">
                      
        

          <!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Form row
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->
                <div class="form-row" style="background-color:orange;">
				<div class="form-group col-md-4">
				                    <label for="studentName" class="col-form-label">Name Of the Application</label>
                    <input type="text" class="form-control" id="studentName" placeholder="Name Of the Application">
                  </div>
				  
				  <div class="form-group col-md-4">
				                    <label for="fatherName" class="col-form-label">Fathers Name</label>
                    <input type="text" class="form-control" id="fatherName" placeholder="Fathers Name">
                  </div>
				
				
				  <div class="form-group col-md-4">
				                    <label for="fatherOccupation" class="col-form-label">Fathers Occupation</label>
                    <input type="text" class="form-control" id="fatherOccupation" placeholder="Occupation">
                  </div>
				  
				   <div class="form-group col-md-4">
				                    <label for="fatherIncome" class="col-form-label">Income Details</label>
                    <input type="text" class="form-control" id="fatherIncome" placeholder=" Father Income">
                  </div>
				  
				  <div class="form-group col-md-4">
				                    <label for="motherName" class="col-form-label">Mothers Name</label>
                    <input type="text" class="form-control" id="motherName" placeholder="Mother Name">
                  </div>
				
				
				  <div class="form-group col-md-4">
				                    <label for="motherOccupation" class="col-form-label">Mothers Occupation</label>
                    <input type="text" class="form-control" id="motherOccupation" placeholder="Occupation">
                  </div>
				  
				    <div class="form-group col-md-4">
				                    <label for="motherIncome" class="col-form-label">Income Details</label>
                    <input type="text" class="form-control" id="motherIncome" placeholder="Mother Income">
                  </div>
				  
				  
				  
				   <div class="col-md-4">
                <label>Your Photo</label>
                <div class="form-group file-group">
                  <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
                  <input type="file" multiple>
                </div>
              </div>
			  
			  <div class="form-group col-md-2">
				                    <label for="height" class="col-form-label">Height</label>
                    <input type="text" class="form-control" id="height" placeholder="in cm">
                  </div>
				  
				    <div class="form-group col-md-2">
				                    <label for="weight" class="col-form-label">Weight</label>
                    <input type="text" class="form-control" id="weight" placeholder="in kg">
                  </div>
			  
			  
				  				<div class="form-group col-md-2">
				                    <label>DOB</label>
									<small class="sidetitle">DD/MM/YYYY</small>
                  <input type="text" class="form-control">
                  </div>
				  
				   <div class="form-group col-md-2">
				                    <label for="age" class="col-form-label">Age</label>
                    <input type="text" class="form-control" id="age" placeholder="Age">
                  </div>
				  
				  
				  <div class="form-group col-md-2">
				  <label for="sex" class="col-form-label">Sex</label>
                  <div class="custom-control custom-checkbox mr-3">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label">Male</label>
                  </div>
				  <div class="custom-control custom-checkbox mr-3">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label">Female</label>
                  </div>
                </div>
				
				
				 <div class="form-group col-md-3">
				  <label for="inputName4" class="col-form-label">Occupation Of The Student</label>
                  <div class="custom-control custom-checkbox mr-3">
                    <input type="text" class="custom-control-input">
                    <label class="custom-control-label">Student</label>
                  </div>
				  <div class="custom-control custom-checkbox mr-3">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label">College</label>
                  </div>
				  <div class="custom-control custom-checkbox mr-3">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label">Institution</label>
                  </div>
                </div>
				
				
				  
				  
				   <div class="form-group col-md-3">
				  <label for="school" class="col-form-label">School</label>
                    <input type="text" class="form-control" id="schoolName" placeholder="Name of the School">
                    <input style="margin-top:5px;" type="text" class="form-control" id="class" placeholder="Class">
                    <input style="margin-top:5px;" type="text" class="form-control" id="board" placeholder="Board">
                </div>
				  
				  <div class="form-group col-md-3">
				  <label for="institution" class="col-form-label">Institution</label>
                  <input type="text" class="form-control" id="institutionName" placeholder="Name of the Institution">
                    <input style="margin-top:5px;" type="text" class="form-control" id="course" placeholder="Course Name">
                    <input style="margin-top:5px;" type="text" class="form-control" id="year" placeholder="Year">
                </div>
				
				 <div class="form-group col-md-3">
				  <label for="organization" class="col-form-label">Organization</label>
				  <input type="text" class="form-control" id="companyName" placeholder="Name of the Company">
                    <input style="margin-top:5px;" type="text" class="form-control" id="experience" placeholder="Experience">
                 </div>
				
				  		
				
			  
				   <div class="form-group col-md-4">
				                      <label for="previousSport" class="col-form-label">Previous Sports If Any</label>
                    <input type="text" class="form-control" id="previousSport" placeholder="Sports Name">
                  </div>
				  
				  
                  <div class="form-group col-md-4">
                    <label for="previousArts" class="col-form-label">Previous Martial Arts If Any</label>
                    <input type="text" class="form-control" id="previousArts" placeholder="Martial Arts Name">
                  </div>
				  
				  			  
				  
				  
                  <div class="form-group col-md-4">
                    <label for="achievements" class="col-form-label">Achievements If Any</label>
                    <input type="text" class="form-control" id="achievements" placeholder="Achievements ">
                  </div>
             
                <div class="form-group col-md-4">
                  <label for="reasonJudo" class="col-form-label">Reason To Join JUDO</label>
                  <input type="text" class="form-control" id="reasonJudo" placeholder="What you like about Judo">
                </div>

                <div class="form-group col-md-4">
                  <label for="ambition" class="col-form-label">Ambition In JUDO</label>
                  <input type="text" class="form-control" id="ambition" placeholder="Your Ambition">
                </div>
				
               <div class="form-group col-md-4">
                    
                  </div>
				  <div class="form-group col-md-4">
                    
                  </div>	

                <div class="form-group col-md-3">
                  <label for="address1" class="col-form-label">Address Permanent</label>
				  <input type="text" class="form-control" id="address1" placeholder="Address">
                </div>
				<div class="form-group col-md-3">
                  <label for="address2" class="col-form-label">Address Current</label>
                  <input type="text" class="form-control" id="address2" placeholder="Address">
				</div>
                  <div class="form-group col-md-2">
                    <label for="city" class="col-form-label">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="pincode" class="col-form-label">Pincode</label>
                    <input type="text" class="form-control" id="pincode" placeholder="Pincode">
                  </div>
                </div>
			
                <div class="form-group">
                  <div class="custom-control custom-checkbox mr-3">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label">I agree to terms and conditions of TNJA</label>
                  </div>
                </div>

              </div>

					
					                   <div class="tab-pane fade active show" id="wizard-form-1">
                      
                      <p class="text-center fs-35 text-muted">Enter Your
                          <strong class="text-primary">Club </strong> Details</p>
                      <p class="text-center text-gray">Plot the address of the club and details</p>
                        <hr class="w-100px">
                        <br> Map and Form ( Based on the logic)
                        {{mapLatLng}}
                     <google-map (mapLatLangEvent)="receiveLatLng($event)"></google-map>
				
                    </div>



                    <div class="tab-pane fade" id="wizard-form-3">
                     

		 <div class="tab-pane" id="pricing-2" role="tabpanel">
            <div class="row">

              <div class="col-lg-3">
                <div class="card card-inverse card-purple text-center p-50">
                  <div class="card-body">
                    <h5 class="text-uppercase text-muted">Platinum</h5>
                    <br>
                    <h3 class="fw-100 fs-40">RS.6000</h3>
                    <small>Full Year</small>

                    <hr>

                    <p><strong>4 </strong>Seminar</p>
                    <p><strong>4 </strong>Tournament Registeration Free </p>
                    <p><strong>4</strong> Judo Kit Free</p>

                    <br><br>
                    <a class="btn btn-bold btn-block btn-outline btn-light" href="#">Select plan</a>
                  </div>
                </div>
              </div>





              <div class="col-lg-3">
                <div class="card card-inverse card-primary text-center p-50">
                  <div class="card-body">
                    <h5 class="text-uppercase text-muted">Diamond</h5>
                    <br>
                    <h3 class="fw-100 fs-40">Rs.3000</h3>
                    <small>Half Year</small>

                    <hr>

                    <p><strong>3 </strong>Seminar</p>
                    <p><strong>3</strong> Tournament Registeration Free</p>
                    <p><strong>3</strong>Judo Kit Free</p>

                    <br><br>
                    <a class="btn btn-bold btn-block btn-outline btn-light" href="#">Select plan</a>
                  </div>
                </div>
              </div>



              <div class="col-lg-3">
                <div class="card card-inverse card-info text-center p-50">
                  <div class="card-body">
                    <h5 class="text-uppercase text-muted">Gold</h5>
                    <br>
                    <h3 class="fw-100 fs-40">Rs.1500</h3>
                    <small>Quarterly</small>

                    <hr>

                    <p><strong>2 </strong>Seminar</p>
                    <p><strong>2 </strong>Tournament Regsteration Free</p>
                    <p><strong>2</strong>Judo Kit Free</p>

                    <br><br>
                    <a class="btn btn-bold btn-block btn-outline btn-light" href="#">Select plan</a>
                  </div>
                </div>
              </div>
			  
			  <div class="col-lg-3">
                <div class="card card-inverse card-info text-center p-50">
                  <div class="card-body">
                    <h5 class="text-uppercase text-muted">Silver</h5>
                    <br>
                    <h3 class="fw-100 fs-40">Rs.500</h3>
                    <small>Monthly</small>

                    <hr>

                    <p><strong>1</strong>Seminar</p>
                    <p><strong>1</strong>Tournament</p>
                    <p><strong>1</strong>Judo Kit Free</p>

                    <br><br>
                    <a class="btn btn-bold btn-block btn-outline btn-light" href="#">Select plan</a>
                  </div>
                </div>
              </div>


            </div>
          </div>
		

                    </div>



                    <div class="tab-pane fade" id="wizard-form-4">
                      <br><br>
                      <p class="text-center fs-35 text-muted">Ready to go?</p>
                      <p class="text-center text-gray">Rapidiously facilitate web-enabled products through innovative collaboration.</p>
                      <hr class="w-100px">
                      <br>

                      <div class="px-20">
                        <div class="form-group row">
                          <label class="col-form-label col-sm-4">Username</label>
                          <div class="form-control-plaintext col-sm-8">TheAdmin</div>
                        </div>

                        <div class="form-group row">
                          <label class="col-form-label col-sm-4">Email</label>
                          <div class="form-control-plaintext col-sm-8">support@theadmin.io</div>
                        </div>

                        <div class="form-group row">
                          <label class="col-form-label col-sm-4">Card number</label>
                          <div class="form-control-plaintext col-sm-8">xxxx-xxxx-xxxx-3648</div>
                        </div>
                      </div>

                    </div>
					
                  </div>

                  <hr>

                  <div class="flexbox">
                    <button class="btn btn-secondary" data-wizard="prev" type="button" style="background-color: orange">Back</button>
                    <button class="btn btn-secondary" data-wizard="next" type="button" style="background-color: orange">Next</button>
                    <button class="btn btn-primary d-none" data-wizard="finish" type="submit" style="background-color: orange">Finish</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

      </div>
      <!--/End -->
</div>