
    <div class="row">
        <div class="swiper-container" data-provide="swiper" data-slides-per-view="3" data-space-between="8">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!--
                     |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                     | Winston
                     |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                     !-->

                    <div class="card">
                        <h4 class="card-title"><strong>Winston</strong></h4>
                        <div class="card-body">
                            <figure class="teaser teaser-winston">
                                <img src="assets/img/gallery/thumb/1.jpg" alt="Winston image hover effect">
                                <figcaption>
                                    <h3>Jolly <span>Winston</span></h3>
                                    <p>
                                        <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
                                        <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>

                    </div>
                </div>
                <!--
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                | Winston
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                !-->
                <div class="swiper-slide">

                    <div class="card">
                        <h4 class="card-title"><strong>Winston</strong></h4>
                        <div class="card-body">
                            <figure class="teaser teaser-winston">
                                <img src="assets/img/gallery/thumb/1.jpg" alt="Winston image hover effect">
                                <figcaption>
                                    <h3>Jolly <span>Winston</span></h3>
                                    <p>
                                        <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
                                        <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
                <!--
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                | Winston
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                !-->
                <div class="swiper-slide">

                    <div class="card">
                        <h4 class="card-title"><strong>Winston</strong></h4>
                        <div class="card-body">
                            <figure class="teaser teaser-winston">

                                <img src="assets/img/gallery/thumb/1.jpg" alt="Winston image hover effect">
                                <figcaption>
                                    <h3>Jolly <span>Winston</span></h3>
                                    <p>
                                        <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
                                        <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>

                    </div>
                </div>
                <!--
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                | Winston
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                !-->
                <div class="swiper-slide">
                    <div class="card">
                        <h4 class="card-title"><strong>Winston</strong></h4>
                        <div class="card-body">
                            <figure class="teaser teaser-winston">
                                <img src="assets/img/gallery/thumb/1.jpg" alt="Winston image hover effect">
                                <figcaption>
                                    <h3>Jolly <span>Winston</span></h3>
                                    <p>
                                        <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
                                        <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
</div>
        </div>
    

            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Left aligned
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">

                <div class="nav-tabs-left">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-success">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#State-left">State Body</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#District-left">District Body</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#EC-left">EC Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Coach-left">Coach</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Referees-left">Referees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Best-left">Best Student</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="State-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="tab-pane fade" id="District-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="tab-pane fade" id="EC-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="tab-pane fade" id="Coach-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="tab-pane fade" id="Referees-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                        <div class="tab-pane fade" id="Best-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- VIsion -->
        <div class="col-12 d-none d-md-block">
            <div class="card">
                <div class="row no-gutters">
                    <a class="col-4 bg-img" style="background-image: url(assets/img/gallery/thumb/1.jpg)" href="#"></a>
                    <div class="col-8">
                        <div class="card-body">
                            <h5><a class="hover-primary text-uppercase fs-14 fw-500 ls-1" href="../widget/blog.html">VISION AND MISSION</a></h5>
                            <hr class="w-50px ml-0 bt-2 border-pink hr-sm">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="flexbox flex-items-middle mt-30">
                                <a href="../page/profile.html">
                                    <img class="avatar avatar-sm" src="assets/img/gallery/thumb/1.jpg" alt="...">
                                    <span class="text-default fw-400 ml-2">From the author</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart text-danger fs-11"></i>
                                    <span class="fs-11 text-fade ml-1">128</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 d-none d-md-block">
            <div class="card">
                <div class="row no-gutters">

                    <div class="col-8">
                        <div class="card-body">
                            <h5><a class="hover-primary text-uppercase fs-14 fw-500 ls-1" href="../widget/blog.html">About Judo,JFI and TNJA</a></h5>
                            <hr class="w-50px ml-0 bt-2 border-pink hr-sm">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="flexbox flex-items-middle mt-30">
                                <a href="../page/profile.html">
                                    <img class="avatar avatar-sm" src="assets/img/gallery/thumb/1.jpg" alt="...">
                                    <span class="text-default fw-400 ml-2">From the author</span>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart text-danger fs-11"></i>
                                    <span class="fs-11 text-fade ml-1">128</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <a class="col-4 bg-img" style="background-image: url(assets/img/gallery/thumb/1.jpg)" href="#"></a>
                </div>
            </div>
        </div>

    </div>