<div>
    <br>
    <br>
    <div style="text-align: center">
    <label class="page-title"> <span> Sensei.</span><span> BALACHANDAR</span> </label>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12" style="padding:30px !important">
          <span class="avatar avatar-sm bg-primary"><i class="fa fa-mobile"></i></span><span class="des">Mobile No:</span><span class="detail"></span><br><br>
          <span class="avatar avatar-sm bg-primary"><i class="fa fa-envelope"></i></span><span class="des">E-Mail ID:</span><span class="detail"></span><br><br>
          <span class="avatar avatar-sm bg-primary"><i class="fa fa-address-book"></i></span><span class="des">Contact Address:</span><span class="detail"></span><br><br>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/Officials/Bala/bala (5).jpeg">
      </div>  
      <div class="col-lg-6">
          <img src="assets/img/Officials/Bala/bala (1).jpeg">
        </div>  
        <div class="col-lg-6">
            <img src="assets/img/Officials/Bala/bala (2).jpeg">
          </div>  
          <div class="col-lg-6">
              <img src="assets/img/Officials/Bala/bala (3).jpeg">
            </div>  
            <div class="col-lg-6">
                <img src="assets/img/Officials/Bala/bala (4).jpeg">
              </div>  
  
    </div>
  </div>