<div>
  <br>
  <br>
  <label class="page-title"> Villupuram District </label>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/villupuram/vil (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/villupuram/vil (2).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/villupuram/vil (3).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/villupuram/vil (4).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/villupuram/vil (5).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/villupuram/vil (6).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/villupuram/vil (7).jpeg">
    </div>


  </div>
</div>