<div style="text-align: center">
  <br>
  <br>
  <label class="page-title"> Thanjavur District Judo Association</label>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t1.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t2.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t3.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t4.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t5.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t6.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t7.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t8.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t9.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t10.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t12.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t11.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t13.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t14.jpeg">
    </div>

    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t15.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t16.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t17.jpeg">
      </div>
      <div class="col-lg-6">
      <img src="assets/img/thanjavur/t18.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t19.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t20.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/thanjavur/t21.jpeg">
    </div>
  </div>

</div>