<!--club contact form-->
<div class="row">
  <div class="col-md-6 col-lg-4">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Club Name</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                     
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Coach Name</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-4">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Club Name</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                     
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Coach Name</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-4">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Club Name</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                     
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Coach Name</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                  <div class="text-white card-body bg-info py-60">
                    <div class="flexbox">
                      <a href="#">
                        <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                      </a>
                      <div class="flex-grow pl-20">
                        <h4><a class="text-white" href="#">Club Name</a></h4>
                        <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                       
                        <div><i class="fa fa-fw fa-envelope w-20px"></i> Coach Name</div>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="card">
                    <div class="text-white card-body bg-info py-60">
                      <div class="flexbox">
                        <a href="#">
                          <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                        </a>
                        <div class="flex-grow pl-20">
                          <h4><a class="text-white" href="#">Club Name</a></h4>
                          <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                         
                          <div><i class="fa fa-fw fa-envelope w-20px"></i> Coach Name</div>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                      <div class="text-white card-body bg-info py-60">
                        <div class="flexbox">
                          <a href="#">
                            <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                          </a>
                          <div class="flex-grow pl-20">
                            <h4><a class="text-white" href="#">Club Name</a></h4>
                            <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                           
                            <div><i class="fa fa-fw fa-envelope w-20px"></i> Coach Name</div>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                  </div>
 </div>
  