.page-title{
    font-size: 18px !important;
    color: black !important;
    font-weight: 500 !important;
}
img{
    margin: 15px 15px 15px 15px !important;
    max-width: 100% !important;
    height:500px !important;
    width: 900px !important;
    
}