<div>
  <br>
  <br>
  <label class="page-title"> Chennai District </label>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/Chennai/chn1.jpeg">
    </div>
    <div class="col-lg-6">
        <img src="assets/img/Chennai/chn2.jpeg">
    </div>
    <div class="col-lg-6">
        <img src="assets/img/Chennai/chn3.jpeg">
    </div>
    <div class="col-lg-6">
        <img src="assets/img/Chennai/chn4.jpeg">
    </div>
    <div class="col-lg-6">
        <img src="assets/img/Chennai/chn5.jpeg">
    </div>
    <div class="col-lg-6">
        <img src="assets/img/Chennai/chn6.jpeg">
    </div>
  </div>
</div>