<!--Monthly Fees-->
<div class="main-content">

    <div class="card" style="background-color: orange">
      <h4 class="card-title"><strong>Monthly Fee</strong></h4>

      <form data-provide="validation" data-disable="false">
        <div class="card-body" style="background-color: orange">

          <div class="form-group row">
            <label class="col-4 col-lg-2 col-form-label require" for="input-1">Name</label>
            <div class="col-8 col-lg-10">
              <input type="text" class="form-control" id="input-1" style="width:250px" >
              <div class="invalid-feedback"></div>
            </div>
          </div>



          <div class="form-group row">
            <label class="col-4 col-lg-2 col-form-label" for="input-2">Phone Number</label>
            <div class="col-8 col-lg-10">
              <input type="text" class="form-control"  id="input-2" placeholder="+91" style="width:150px" data-minlength="6" data-error="Minimum length is 6 character." required>
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-lg-2 col-form-label" for="input-6">Email</label>
            <div class="col-8 col-lg-10">
              <input type="email" class="form-control" style="width:250px" id="input-6" required>
              <div class="invalid-feedback"></div>
            </div>
          </div>
    
        </div>


        <footer class="card-footer text-right" style="background-color: orange">
          <button class="btn btn-primary" type="submit">Click here to pay</button>
        </footer>


      </form>
    </div>

  </div><!--/.main-content -->