<!--Club News-->
<div class="main-content" style="background-color:orange; font-size:18px;">
    <div class="row">
  
  <div class="col-md-8">
        <div class="card" style="background-color:orange">
          <h5 class="card-title"><strong>National News</strong></h5>
  
          <div class="media-list media-list-divided">
            <a class="media media-single" href="http://www.onlinejfi.org/news-details.php?id=282">
              <span class="avatar avatar-sm bg-primary"><i class="fa fa-newspaper-o"></i></span>
              <span class="title">Important- Entries for Grand Masters - India</span>
              <time datetime="2017-07-14 20:00"></time>
            </a>
  
            <a class="media media-single" href="http://www.onlinejfi.org/news-details.php?id=286">
              <span class="avatar avatar-sm bg-success"><i class="fa fa-newspaper-o"></i></span>
              <span class="title">List of Judokas for Khelo India Youth Games -Pune.  </span>
              <time datetime="2017-07-14 20:00"></time>
            </a>
  
            <a class="media media-single" href="http://www.onlinejfi.org/news-details.php?id=285">
              <span class="avatar avatar-sm bg-danger"><i class="fa fa-newspaper-o"></i></span>
              <span class="title">Selection trials for selecting Delhi Judo Team for Senior National  </span>
              <time datetime="2017-07-14 20:00"></time>
            </a>
  
            <a class="media media-single" href="www.onlinejfi.org/news-details.php?id=284">
              <span class="avatar avatar-sm bg-yellow"><i class="fa fa-newspaper-o"></i></span>
              <span class="title">3rd JFI Referees & Coaches Seminar (for Men & Women) </span>
              <time datetime="2017-07-14 20:00"></time>
            </a>
  
            <a class="media media-single" href="http://www.onlinejfi.org/news-details.php?id=281">
              <span class="avatar avatar-sm bg-warning"><i class="fa fa-newspaper-o"></i></span>
              <span class="title">Sh. Jiwan Kumar Sharma - Dronacharya Awardee 2018</span>
              <time datetime="2017-07-14 20:00"></time>
            </a>
          </div>
        </div>
      </div>
      <div  class="col-md-4">
          <div class="col-md-1">
            </div>
            <div class="col-md-8" style="max-width: 400px">
                <a href="https://sports.ndtv.com/othersports/khelo-india-youth-games-delhi-dominate-judo-ring-bag-12-gold-medals-1978676">
                  <img src="assets/img/News/ns5.jpeg" style="max-width: 400px">
                  </a> 
                  <h5>Delhi judokas proved to be a cut above the rest as the northern state ended up with 12 gold, 3silver and 6 bronze medals to top in the discipline at the Khelo India Youth Games  </h5>
                </div>
            <div class="col-md-3" style="float:right">
                <a href="https://sports.ndtv.com/othersports/khelo-india-youth-games-delhi-dominate-judo-ring-bag-12-gold-medals-1978676">
                  <span class="label1">Read More</span></a>
            </div>
        
      </div>
  
  </div>
  </div>
       
  
  <div class="row" id="vid" style="background-color:orange;padding-top:25px;padding-bottom:10px">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
      <iframe id="ivideo"width="880" height="395" src="https://www.youtube.com/embed/pgfKasoI5yc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
  </div>

  
  </div>
  <!--End of club News-->