<!--Club News-->
<div class="main-content" style="background-color:orange">
    <div class="row">
  
  <div class="col-md-8">
        <div class="card" style="background-color:orange">
          <h5 class="card-title"><strong>National News</strong></h5>
  
          <div class="media-list media-list-hover media-list-divided">
            <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
              <span class="title">NEWS 1:20th september district tournament will commence.</span>
              <time datetime="2017-07-14 20:00">24 mins ago</time>
            </a>
  
            <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
              <span class="title">NEWS 2:India won the JUDO tournament.</span>
              <time datetime="2017-07-14 20:00">2 hours ago</time>
            </a>
  
            <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
              <span class="title">NEWS 3:20th september district tournament will commence.</span>
              <time datetime="2017-07-14 20:00">7 hours ago</time>
            </a>
  
            <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
              <span class="title">NEWS 4:20th september district tournament will commence.</span>
              <time datetime="2017-07-14 20:00">Yesterday</time>
            </a>
  
            <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-warning"><i class="fa fa-battery-quarter"></i></span>
              <span class="title">NEWS 5:20th september district tournament will commence.</span>
              <time datetime="2017-07-14 20:00">Last week</time>
            </a>
          </div>
        </div>
      </div>
  <div class="col-md-4"  style="background-color:orange !important;height:362px !important">
  <marquee width="100%" direction="up" height="80%">
          NEWS 1:TNJA Upcoming Tournament <br><br> NEWS 2:TNJA Upcoming Tournament <br><br> NEWS 3:TNJA Upcoming Tournament <br><br> NEWS 4:TNJA Upcoming Tournament  
  </marquee>        
  </div>
  </div>
  </div>
       
  
  <div class="row" id="vid" style="background-color:orange;padding-top:25px;padding-bottom:10px">
  <div class="col-md-4">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe>
  </div>
  <div class="col-md-3">
  </div>
  </div>
  
  <div class="col-md-4">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe>
  </div>
  <div class="col-md-3">
  </div>
  </div>
  
  <div class="col-md-4">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe>
  </div>
  <div class="col-md-3">
  </div>
  </div>
  
  
  </div>
  <!--End of club News-->