<!--TNJA  Events-->
<div class="main-content" style="background-color:orange; font-size:18px; color:white;">
  <div class="row">

<div class="col-md-8">
      <div class="card" style="background-color:orange">
        <h5 class="card-title"><strong style="font-size:20px; color:black">Tamil Nadu Judo Association Events</strong></h5>

        <div class="media-list media-list-hover media-list-divided">
          <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-warning"><i class="fa fa-star"></i></span>
            <span class="title">TNJA REFEREEING & BLACK BELT GRADATION CAMP
              <ul>
              <li>	Number of Participants :- 15</li>
                <li>	Fees amount charged per participant :- Rs.2200</li>
                  <li>	Total Income :- Rs.29000</li>
                    <li>	Total Expense:- Rs.26991</li>
                      <li>	Balance Cash = Rs.2001</li>
                      </ul>
              </span>
            <time datetime="2017-07-14 20:00">APRIL-2018</time>
          </a>

          <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-warning"><i class="fa fa-star"></i></span>
            <span class="title">SENIOR NATIONAL JUDO CHAMPIONSHIP – J&K (6th to 15th)
              <ul>
                <li>Number of Participants :- 14</li>
              	<li>Fees amount charged per participant :- Rs.2500</li>
              	<li>Total Income :-  Rs.37500</li>
                  <li>Total Expense:- Rs.37560</li>
                    <li>Balance Cash = NIL</li>
              </ul>
              
              </span>
            <time datetime="2017-07-14 20:00">March-2018</time>
          </a>

          <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-warning"><i class="fa fa-star"></i></span>
            <span class="title">SENIOR NATIONAL JUDO CHAMPIONSHIP – TAMIL NADU SELECTION TRAIL (25/02/2018)
              <ul>
                <li>	Number of Participants :- 75</li>
                <li>Fees amount charged per participant :- 
                  a.	For 38 players =  Rs.350   
                  b.	For 37 players = Rs.200  
                  </li>
                <li>Total Income :-  Rs.21900</li>
                <li>Total Expense:- Rs.21900</li>
                <li>Balance Cash = NIL</li>
              </ul>
            </span>
            <time datetime="2017-07-14 20:00">February-2018</time>
          </a>

          <a class="media media-single" href="#">
              <span class="avatar avatar-sm bg-warning"><i class="fa fa-star"></i></span>
            <span class="title">CADET & JUNIOR JUDO CHAMPIONSHIP – PUNJAB  (FEB-2018)
              <ul>
              <li>	Number of Participants :- 28</li>
              <li>	Fees amount charged per participant :- Rs.2500 </li> 
              <li>	Total Income:- Rs.65000</li>
              <li>	Total Expense:-  Rs.67, 150/-</li>
              <li>	Balance Cash = NIL</li>
              </ul>
            </span>
            <time datetime="2017-07-14 20:00">February-2018</time>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-warning"><i class="fa fa-star"></i></span>
            <span class="title">CHENNAI DISTRICT - INTER DISTRICT JUDO INTENSIVE PREPARATION CAMP
              <ul>
              <li>Number of Participants :- 46</li>
                  <li>	Fees amount charged per participant :- Rs.100</li>
                      <li>Total Income:- Rs.4600</li>
                          <li>Total Expense:-  Rs.4780/-</li>
                              <li>Balance Cash = NIL</li>
                              </ul>
              </span>
            <time datetime="2017-07-14 20:00">June-2018</time>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-warning"><i class="fa fa-star"></i></span>
            <span class="title">SUB JUNIOR STATE JUDO TOURNAMENT – COIMBATORE (AUG-18)
              <ul>
              <li>	Number of Participants :- 451</li>
                <li>	Fees amount charged per participant :- Rs.500
              a.	Entry Fee 	- Rs.31,570/-
              b.	Registration Fee – Rs.64,200/-
              <li>Total Income:- Rs.99,200/-</li>
                <li>Total Expense:-  Rs.47,600/-</li>
                  <li>Balance Cash = Rs.51,620/-</li>
                    </ul>
              </span>
            <time datetime="2017-07-14 20:00">August-2018</time>
          </a>
          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-warning"><i class="fa fa-star"></i></span>
            <span class="title">SUB-JUNIOR NATIONAL JUDO CHAMPIONSHIP – UNA, HIMACHAL PRADESH (SEP-2018)
              <ul>
              <li>	Number of Participants 			:- 29</li>
                <li>	Fees amount charged per participants 	:- Rs.3500</li>
                  <li>	Total Income 				:-Rs.1,01,500
              a.	7 participants availed scholarship by paying only 30% 
              b.	TNJA spend towards 70% scholarship 	- Rs.17,150/-</li>
              <li>	Total Expenses:- Rs.1, 04, 650/-</li>
                <li>	Balance Cash = NIL </li>
                </ul>
              
              </span>
            <time datetime="2017-07-14 20:00">September-2018</time>
          </a>
        </div>
      </div>
    </div>
<div class="col-md-4"  style="background-color:orange !important;height:500px !important">
  <h5 style="font-weight:500"> Upcoming Events</h5>
<marquee width="100%" direction="up" height="90%">
<br> 
TNJA Upcoming Junior Tournament at Feb-2019<br><br>
<img src="assets/img/state/s1.jpeg"><br> <br>
Seminar by TNJA for Students<br><br>
Seminar by JFI for Technical officials and Referees<br>
</marquee>

</div>
</div>
</div>
     

<div class="row" id="vid" style="background-color:orange;padding-top:25px;padding-bottom:10px">
<div class="col-md-4">
<div class="col-md-3">
</div>
<div class="col-md-6">
  </div>
<div class="col-md-3">
</div>
</div>

<div class="col-md-4">
<div class="col-md-3">
</div>
<div class="col-md-6">
  </div>
<div class="col-md-3">
</div>
</div>

<div class="col-md-4">
<div class="col-md-3">
</div>
<div class="col-md-6">
  </div>
<div class="col-md-3">
</div>
</div>


</div>
<!--End of District News-->