.page-title{
    font-size: 32px !important;
    color: white !important;
    font-weight: 500 !important;
}
img{
    margin: 15px 15px 15px 15px !important;
    max-width: 90% !important;
    height: 500px !important;
    width:800px !important;
}
.des{
    margin:25px 25px 25px 25px !important;
    font-size:18px !important;
    color:black !important;
    font-weight:500 !important;
}
