<div class="row" style="background-color: orange">
  <div class="col-md-3">
  <!--slide bar-->
  <div class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
    <header class="sidebar-header">
      <a class="logo-icon" href="index.html"></a>
      <span class="logo">
        <a href="index.html">Tamil Nadu Judo Association</a>
      </span>
      <span class="sidebar-toggle-fold"></span>
    </header>
  
    <nav class="sidebar-navigation">
      <ul class="menu">
        <li class="menu-item">
          <a class="menu-link" href="Tournament Registration.html">
            <span class="icon fa fa-home"></span>
            <span class="title">Tournament Form Registration</span>
          </a>
        </li>
  
        <li class="menu-item">
          <a class="menu-link" href="UploadForm.html">
            <span class="icon fa fa-tv"></span>
            <span class="title">Scan and Upload </span>
            
          </a>
        </li>
  
         <li class="menu-item">
          <a class="menu-link" href="#">
            <span class="icon fa fa-tv"></span>
            <span class="title">Validation</span>
            <span class="arrow"></span>
          </a>
  
          <ul class="menu-submenu">
            <li class="menu-item">
              <a class="menu-link" href="samples/invoicer/index.html" target="_blank">
                <span class="dot"></span>
                <span class="title">Verified List</span>
              </a>
            </li>
  
            <li class="menu-item">
              <a class="menu-link" href="samples/job/index.html" target="_blank">
                <span class="dot"></span>
                <span class="title">Un Verified List</span>
              </a>
            </li>
          </ul>
         </li>
  
        <li class="menu-item">
          <a class="menu-link" href="#">
            <span class="icon fa fa-tv"></span>
            <span class="title">Import List</span>
            <span class="arrow"></span>
          </a>
  
          <ul class="menu-submenu">
            <li class="menu-item">
              <a class="menu-link" href="samples/invoicer/index.html" target="_blank">
                <span class="dot"></span>
                <span class="title">Winners List</span>
              </a>
            </li>
  
            <li class="menu-item">
              <a class="menu-link" href="samples/job/index.html" target="_blank">
                <span class="dot"></span>
                <span class="title">Participant List</span>
              </a>
            </li>
  
            
          </ul>
         </li>
         <li class="menu-item">
          <a class="menu-link" href="#">
            <span class="icon fa fa-tv"></span>
            <span class="title">Print Certificates</span>
            <span class="arrow"></span>
          </a>
  
          <ul class="menu-submenu">
            <li class="menu-item">
              <a class="menu-link" href="samples/invoicer/index.html" target="_blank">
                <span class="dot"></span>
                <span class="title">Winners List</span>
              </a>
            </li>
  
            <li class="menu-item">
              <a class="menu-link" href="samples/job/index.html" target="_blank">
                <span class="dot"></span>
                <span class="title">Participant List</span>
              </a>
            </li>
  
            
          </ul>
         </li>
         <li class="menu-item">
          <a class="menu-link" href="#">
            <span class="icon ti-layout"></span>
            <span class="title">Logout</span>
            <span class="arrow"></span>
          </a>
         </li>
         <li class="menu-item">
          <a class="menu-link" href="#">
            <span class="icon ti-layout"></span>
            <span class="title">Login</span>
            <span class="arrow"></span>
          </a>
         </li>
         <li class="menu-item">
          <a class="menu-link" href="#">
            <span class="icon ti-layout"></span>
            <span class="title">NOC Form</span>
            <span class="arrow"></span>
          </a>
         </li>
      </ul>
    </nav>
  </div>
  </div>
  <!-- END Sidebar -->
<div class="col-md-9">
<!-- Main container -->
<main class="main-container">
  <div class="main-content" >
     <div class="row" >

      <div class="col-12">
       <div class="card" style="background-color: orange">
           <h4 class="card-title"><strong>Import Participants List</strong></h4>
 
           <div class="card-body" style="background-color: orange">
             <div class="row">
                <div class="col-md-12">
                 <hr class="d-md-none">
                 <p></p>
                 <div class="form-group form-type-fill file-group">
                   <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
                   <input type="file" multiple>
                 </div>
                  <button class="btn btn-w-md btn-info">Submit</button>
               </div>
                <div class="col-md-12">
               <p>Place the grid coding here when excel is imported and have a status filters to show whether the import is success or not and reason for the failure</p>
              </div>
             </div>
            </div>
         </div>
       </div>
      </div>
    </div>
 </main>
 </div>