<div class="main-content" style="background-color:orange; font-size:18px;">
  <h5 class="card-title"><strong>Tamil Nadu Police participated in Police Tournament</strong></h5>
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/News/news2.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (2).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (3).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (4).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (5).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (6).jpeg">
    </div>
    

    
  </div>
</div>