<!--District News-->
<div class="main-content" style="background-color:orange; font-size:18px;">
  <div class="row">

<div class="col-md-8">
      <div class="card" style="background-color:orange">
        <h5 class="card-title"><strong>District News</strong></h5>

        <div class="media-list media-list-hover media-list-divided">
          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
            <span class="title">NEWS 1:Karur Girl wins Bronze medal in CBSC Games</span>
            <time datetime="2017-07-14 20:00">October-2018</time>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-success"><i class="fa fa-usd"></i></span>
            <span class="title">NEWS 2:Tamil Nadu Police participated in Police Tournament</span>
            <time datetime="2017-07-14 20:00">October-2018</time>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-danger"><i class="fa fa-area-chart"></i></span>
            <span class="title">NEWS 3:SDAT - CM Function for 3% Sports Quota in Government Jobs for all Sports Winners</span>
            <time datetime="2017-07-14 20:00">September-2018</time>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-yellow"><i class="fa fa-star"></i></span>
            <span class="title">NEWS 4:Excellent Performance by Vellamal School in CBSC games</span>
            <time datetime="2017-07-14 20:00">October-2018</time>
          </a>
        </div>
      </div>
    </div>
<div class="col-md-4"  style="background-color:orange !important;height:362px !important">
<marquee width="100%" direction="up" height="80%">
NEWS 1:TNJA Upcoming Senior Tournament at Namakkal <br><br> NEWS 2:TNJA Upcoming Junior Tournament - Feb-2019<br><br>  
</marquee>

</div>
</div>
</div>
     

<div class="row" id="vid" style="background-color:orange;padding-top:25px;padding-bottom:10px">
<div class="col-md-4">
<div class="col-md-3">
</div>
<div class="col-md-6">
  <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe>
</div>
<div class="col-md-3">
</div>
</div>

<div class="col-md-4">
<div class="col-md-3">
</div>
<div class="col-md-6">
  <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe>
</div>
<div class="col-md-3">
</div>
</div>

<div class="col-md-4">
<div class="col-md-3">
</div>
<div class="col-md-6">
  <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" name="fitvid0"></iframe>
</div>
<div class="col-md-3">
</div>
</div>


</div>
<!--End of District News-->