<!--District News-->
<div class="main-content" style="background-color:orange; font-size:18px;">
  <div class="row">

<div class="col-md-8">
      <div class="card" style="background-color:orange">
        <h5 class="card-title"><strong>District News</strong></h5>

        <div class="media-list media-list-divided">
          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-primary"><i class="fa fa-newspaper-o"></i></span>
            <span class="title">Karur Girl wins Bronze medal in CBSE Games</span>
            <time datetime="2017-07-14 20:00"></time>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-success"><i class="fa fa-newspaper-o"></i></span>
            <span class="title">Tamil Nadu Police participated in Police Tournament</span>
            <time datetime="2017-07-14 20:00"></time>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-danger"><i class="fa fa-newspaper-o"></i></span>
            <span class="title">SDAT - CM Function for 3% Sports Quota in Government Jobs for all Sports Winners</span>
            <time datetime="2017-07-14 20:00"></time>
          </a>

          <a class="media media-single" href="#">
            <span class="avatar avatar-sm bg-yellow"><i class="fa fa-newspaper-o"></i></span>
            <span class="title">Excellent Performance by Vellamal School in CBSE games</span>
            <time datetime="2017-07-14 20:00"></time>
          </a>
        </div>
      </div>
    </div>
        <div  class="col-md-4">
            <div class="col-md-1">
              </div>
              <div class="col-md-8" style="max-width: 400px">
                  <a href="https://www.deccanchronicle.com/sports/in-other-news/240717/making-sport-a-way-of-life.html">
                    <img src="assets/img/News/news1.jpeg" style="max-width: 400px">
                    </a> 
                    <h5>Tamil Nadu Judo Association (TNJA), was instrumental in conducting the sub-junior judo championship in Vyasarpadi. </h5>
                  </div>
              <div class="col-md-3" style="float:right">
                  <a href="https://www.deccanchronicle.com/sports/in-other-news/240717/making-sport-a-way-of-life.html">
                    <span class="label1">Read More</span></a>
              </div>
          
        </div>
      

</div>
</div>
     

<div class="row" id="vid" style="background-color:orange;padding-top:25px;padding-bottom:25px;padding-left:25px">
    <div class="col-md-4">
        <img src="assets/img/News/district/ns1.jpg" width="450px" height="350px" >
      </div>  
      <div class="col-md-4">
        <img src="assets/img/News/district/ns2.jpg"  width="450px" height="350px"  >
      </div>
      <div class="col-md-4">
        <img src="assets/img/News/district/ns3.jpg"  width="450px" height="350px"  >
      </div>
      
</div>
      
<!--End of District News-->