<!--Counciling Page-->
<div class="main-content" style="background-color:orange; font-size:18px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="background-color:orange">
        <h5 class="card-title"> Guidance Path to Career and Oppurunities in Judo </h5>

        <div class="media-list media-list-hover media-list-divided">
              <a class="media media-single" href="under-construction">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-quora"></i></span>
                <span class="title">How to apply for FORM 2 Certificate?</span><br>
                </a>
                <br>
                <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                <img src="assets/img/form2.jpg">
              </div>
              <div class="col-lg-3"></div>
              </div>
              <br><br>
              <a class="media media-single" href="under-construction">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-quora"></i></span>
                <span class="title">How to apply for Tamil Nadu Police Department Jobs </span>
              </a>
              <br>
              <div class="row">
                  <div class="col-lg-4"><img src="assets/img/counciling/pol2.jpeg"></div>
                  <div class="col-lg-4">
                  <img src="assets/img/counciling/pol1.jpeg">
                </div>
                <div class="col-lg-4"><img src="assets/img/counciling/pol3.jpeg"></div>
                </div>

            </div>

      </div>
    </div>
  </div>
</div>