.title{
    font-size:22px !important;
    color:black !important;
}
.card-title{
    font-size: 34px !important;
    font-weight:500 !important;
    color:#335e8c !important;
    text-align:center !important;
}
img{
height:100% !important;
width:100% !important;
}
