<div>
  <br>
  <br>
  <div style="text-align: center">
    <label class="page-title"> <span> Sensei.</span><span> RAJA GOPAL</span> </label>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="padding:30px !important">
      <span class="avatar avatar-sm bg-primary"><i class="fa fa-mobile"></i></span><span class="des">Mobile No:</span><span
        class="detail"></span><br><br>
      <span class="avatar avatar-sm bg-primary"><i class="fa fa-envelope"></i></span><span class="des">E-Mail ID:</span><span
        class="detail"></span><br><br>
      <span class="avatar avatar-sm bg-primary"><i class="fa fa-address-book"></i></span><span class="des">Contact
        Address:</span><span class="detail"></span><br><br>
    </div>
    <div class="col-lg-6">
      <img src="assets/img/banner/state5.jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/banner/state6.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (2).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (3).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (4).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (5).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (6).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (7).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (8).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (9).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (10).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (11).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (12).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (13).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (14).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (15).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (16).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (17).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (18).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (19).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (20).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (21).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Officials/raja/raja (22).jpeg">
    </div>


  </div>
</div>