<div>
    <br>
    <br>
    <label class="page-title"> <span> Sensei.</span><span> RAJA GOPAL</span> </label>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <span>Mobile No:</span><br>
        <span>Email Id: </span><br>
        <span>Contact Address: </span>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/banner/state5.jpg">
      </div>
      <div class="col-lg-6">
          <img src="assets/img/banner/state6.jpeg">
        </div>
  
    </div>
  </div>