<!--Career Page-->
<div class="main-content" style="background-color:orange; font-size:18px;">
  <div class="row">

    <div class="col-md-10">
      <div class="card" style="background-color:orange">
        <h5 class="card-title"><strong>Career Options</strong></h5>

        <div class="media-list media-list-hover media-list-divided">
          <h5 class="card-title"><strong>Schools</strong></h5>
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/schoolgame1.jpg" width="500px" height="300px">
              <a class="media media-single" href="#">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                <span class="title">Cash price of Rs.2lacs in Schools Games</span>
              </a>
            </div>
            <div class="col-md-6">
              <img src="assets/img/schoolgame2.jpg" width="500px" height="300px">
              <a class="media media-single" href="#">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                <span class="title">Cash price of Rs.50000 in CBSE Games</span>
              </a>
            </div>
          </div>
          <div style="float:right">
            <a href="testimonials" style="color:black; font-size:18px">READ MORE</a>
          </div>
        </div>

        <div class="media-list media-list-hover media-list-divided">
          <h5 class="card-title"><strong>College</strong></h5>
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/collegegame1.jpg" height="300px" width="500px">
              <a class="media media-single" href="#">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                <span class="title">List of College offering Quota seats</span>
              </a>
            </div>
            <div class="col-md-6">
              <img src="assets/img/collegegame2.jpg" height="300px" width="500px">
              <a class="media media-single" href="#">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                <span class="title">Play Judo - win medals in National and State to get Medical , Engineering and Arts
                  Colleges</span>
              </a>
            </div>
          </div>
          <div style="float:right">
            <a href="testimonials" style="color:black; font-size:18px">READ MORE</a>
          </div>
        </div>
        <div class="media-list media-list-hover media-list-divided">
          <h5 class="card-title"><strong>National Police Team</strong></h5>
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/policegame1.jpg" width="500px" height="300px">
              <a class="media media-single" href="#">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                <span class="title">Tamil nadu Police Department Jobs</span>
              </a>
            </div>
            <div class="col-md-6">
              <img src="assets/img/police2.jpg" width="500px" height="300px">
              <a class="media media-single" href="#">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                <span class="title">Railway Department Jobs</span>
              </a>
            </div>
          </div>
          <div style="float:right">
            <a href="testimonials" style="color:black; font-size:18px">READ MORE</a>
          </div>
        </div>
        <div class="media-list media-list-hover media-list-divided">
          <h5 class="card-title"><strong>Judo Coach</strong></h5>
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/coachgame1.jpg" height="300px" width="500px">
              <a class="media media-single" href="#">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                <span class="title">Be a Judo coach - earn minimum of Rs.15,000</span>
              </a>
            </div>
            <div class="col-md-6">
              <img src="assets/img/coachgame2.jpg" width="500px" height="300px">
              <a class="media media-single" href="#">
                <span class="avatar avatar-sm bg-primary"><i class="fa fa-user"></i></span>
                <span class="title">Perform at all torunaments </span>
              </a>
            </div>
          </div>
          <div style="float:right">
            <a href="testimonials" style="color:black; font-size:18px">READ MORE</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row" id="vid" style="background-color:orange;padding-top:25px;padding-bottom:10px">
  <div class="col-md-4">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen="" name="fitvid0"></iframe>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <div class="col-md-4">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen="" name="fitvid0"></iframe>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <div class="col-md-4">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <iframe src="https://youtube.com/embed/ssZY4-Za4D0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen="" name="fitvid0"></iframe>
    </div>
    <div class="col-md-3">
    </div>
  </div>


</div>
<!--End of club News-->