.card-title{
    color:black !important;
    font-size:20px !important;
    font-weight:500 !important;
}
.title{
    color:white !important;
    font-size:18px !important;
}
a{
    font-weight:500 !important;
}
img{
    height:500px !important;
    width:100% !important;
}