<div>
  <br>
  <br>
  <label class="page-title"> Theni District </label>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn1.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn2.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn3.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn4.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (2).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (3).jpeg">
    </div>

    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (4).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (5).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (6).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (7).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (8).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (9).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (10).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (11).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (12).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (13).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (14).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (15).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (16).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (17).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (18).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (19).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (20).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (21).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Theni/thn (22).jpeg">
    </div>

  </div>
</div>