<div>
  <!--Hall of fame-->
  <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <h4 class="card-title"><strong>Zoe</strong></h4>

          <div class="card-body">
            <figure class="teaser teaser-zoe">
              <img src="assets/img/Officials/2.jpg" alt="Zoe image hover effect">
              <figcaption>
                <h3>Creative <span>Zoe</span></h3>
                <p class="icon-links">
                  <a href="#"><span class="fa fa-heart"></span></a>
                  <a href="#"><span class="fa fa-eye"></span></a>
                  <a href="#"><span class="fa fa-paperclip"></span></a>
                </p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    <div class="col-lg-4">
        <div class="card">
          <h4 class="card-title"><strong>Zoe</strong></h4>

          <div class="card-body">
            <figure class="teaser teaser-zoe">
              <img src="assets/img/Officials/2.jpg" alt="Zoe image hover effect">
              <figcaption>
                <h3>Creative <span>Zoe</span></h3>
                <p class="icon-links">
                  <a href="#"><span class="fa fa-heart"></span></a>
                  <a href="#"><span class="fa fa-eye"></span></a>
                  <a href="#"><span class="fa fa-paperclip"></span></a>
                </p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    <div class="col-lg-4">
        <div class="card">
          <h4 class="card-title"><strong>Zoe</strong></h4>

          <div class="card-body">
            <figure class="teaser teaser-zoe">
              <img src="assets/img/Officials/2.jpg" alt="Zoe image hover effect">
              <figcaption>
                <h3>Creative <span>Zoe</span></h3>
                <p class="icon-links">
                  <a href="#"><span class="fa fa-heart"></span></a>
                  <a href="#"><span class="fa fa-eye"></span></a>
                  <a href="#"><span class="fa fa-paperclip"></span></a>
                </p>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
</div>
<!--End-->
</div>