<div>
  <!--Hall of fame-->
  <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <h4 class="card-title"><strong>Sensei.Raja Gopal</strong></h4>

          <div class="card-body">
            <figure class="teaser teaser-zoe">
              <img src="assets/img/rajagopal.jpg" alt="Zoe image hover effect">
              <figcaption>
                <h3>Sensei<span>Raja Gopal</span></h3>
                <p class="icon-links">
                  <a href="#"><span class="fa fa-heart"></span></a>
                  <a href="#"><span class="fa fa-eye"></span></a>
                  <a href="#"><span class="fa fa-paperclip"></span></a>
                </p>
                <p class="description"></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    <div class="col-lg-4">
        <div class="card">
          <h4 class="card-title"><strong>Sensei.Sadish Kumar</strong></h4>

          <div class="card-body">
            <figure class="teaser teaser-zoe">
              <img src="assets/img/sadiish 2.jpg" alt="Zoe image hover effect" height="390px">
              <figcaption>
                <h3>Sensei <span>Sadish Kumar </span></h3>
                <p class="icon-links">
                  <a href="#"><span class="fa fa-heart"></span></a>
                  <a href="#"><span class="fa fa-eye"></span></a>
                  <a href="#"><span class="fa fa-paperclip"></span></a>
                </p>
                <p class="description"></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    <div class="col-lg-4">
        <div class="card">
          <h4 class="card-title"><strong>Sensei.Uma Shankar</strong></h4>

          <div class="card-body">
            <figure class="teaser teaser-zoe">
              <img src="assets/img/uma.jpg" alt="Zoe image hover effect">
              <figcaption>
                <h3>Sensei<span>Uma Shankar</span></h3>
                <p class="icon-links">
                  <a href="#"><span class="fa fa-heart"></span></a>
                  <a href="#"><span class="fa fa-eye"></span></a>
                  <a href="#"><span class="fa fa-paperclip"></span></a>
                </p>
                <p class="description"></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
</div>
<!--End-->
</div>