<div style="text-align: center">
    <br>
    <br>
    <label class="page-title"> Tamil Nadu Judo Police Team  </label>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <img src="assets/img/News/newspolice/police (1).jpeg">
          </div>
          <div class="col-lg-6">
            <img src="assets/img/News/newspolice/police (2).jpeg">
          </div>
          <div class="col-lg-6">
            <img src="assets/img/News/newspolice/police (3).jpeg">
          </div>
          <div class="col-lg-6">
            <img src="assets/img/News/newspolice/police (4).jpeg">
          </div>
          <div class="col-lg-6">
            <img src="assets/img/News/newspolice/police (5).jpeg">
          </div>
          <div class="col-lg-6">
            <img src="assets/img/News/newspolice/police (6).jpeg">
          </div>
          
       
    </div>
  </div>