<div class="col-md-4">
    <button class="btn btn-w-md btn-info" (click)="DownloadForm($event)">Download</button>
</div>
<br />
<br />
<form (ngSubmit)="onTournamentFormUpload()" data-provide="wizard">
    <div class="col-md-4">
        <p>Tournament Form-Upload</p>
        <div class="form-group file-group">
            <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
            <input type="file" (change)="onSelectForm($event,'TournamentForm')" multiple>
        </div>
    </div>

    <div class="col-md-4">
        <button class="btn btn-w-md btn-info" type="submit">upload</button>
    </div>
</form>