<div class="main-content">


    <div class="col-lg-12">
        <div class="card" style="background-color: orange" >
            <h4 class="card-title">
                    <p class="text-center fs-35 text-muted" style="color:#1e2731 !important">Student 
                            <strong class="text-primary" style="color:#335e8c !important">Registration</strong></p>
            </h4>
            <div class="card-body" style="background-color: orange">
                <form [formGroup]="registrationForm" (ngSubmit)="onDistrictRegistration()" data-provide="wizard">
                    <ul class="nav nav-process nav-process-circle">

                        <li class="nav-item">
                            <span class="nav-title">Club Selection</span>
                            <a class="nav-link" data-toggle="tab" href="#wizard-form-1"></a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-title">Sign Up Form</span>
                            <a class="nav-link" data-toggle="tab" href="#wizard-form-2"></a>
                        </li>

                        <li class="nav-item">
                            <span class="nav-title">Subscribe</span>
                            <a class="nav-link" data-toggle="tab" href="#wizard-form-3"></a>
                        </li>

                        <li class="nav-item">
                            <span class="nav-title">Confirmation and Payment</span>
                            <a class="nav-link" data-toggle="tab" href="#wizard-form-4"></a>
                        </li>
                    </ul>


                    <div class="tab-content">

                        <div class="tab-pane fade active show" id="wizard-form-1" >
                            <div class="row">
                                <br>
                               
                                <div class="form-group col-md-4" style="display:none">
                                        <label for="weight" class="col-form-label">District</label>
                                        <custom-textbox [group]="registrationForm" name="Area" [required]="true" [editMode]="isEditMode"
                                            [isValid]="isValid" [max]="3"></custom-textbox>
                                    </div>
    
                                    <div class="form-group col-md-8">
                                        <label for="areaName" class="col-form-label">Select your District </label>
                                        <br>
                                        <jqxDropDownButton #myDropDownButton [width]="175" [height]="30">
                                            <jqxGrid #myGrid (onRowselect)="myGridOnRowSelect($event)" [width]="550"
                                                [source]="dataAdapter" [columns]="columns" [ready]="ready" [pageable]="true"
                                                [columnsresize]="true" [autoheight]="true">
                                            </jqxGrid>
                                        </jqxDropDownButton>
                                        <br>
                                        <br>
                                    <br>
                                    </div>
                                    
                                <div class="form-group col-md-4" style="display:none">
                                    <label for="weight" class="col-form-label">Area</label>
                                    <custom-textbox [group]="registrationForm" name="Area" [required]="true" [editMode]="isEditMode"
                                        [isValid]="isValid" [max]="3"></custom-textbox>
                                </div>

                                <div class="form-group col-md-8">
                                    <label for="areaName" class="col-form-label">Select Club Area</label>
                                    <br>
                                    <jqxDropDownButton #myDropDownButton [width]="175" [height]="30">
                                        <jqxGrid #myGrid (onRowselect)="myGridOnRowSelect($event)" [width]="550"
                                            [source]="dataAdapter" [columns]="columns" [ready]="ready" [pageable]="true"
                                            [columnsresize]="true" [autoheight]="true">
                                        </jqxGrid>
                                    </jqxDropDownButton>
                                    <br>
                                </div>
                                <br>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="wizard-form-2">
                            <br>
                            <br>
                            <p class="text-center fs-35 text-muted">Student
                                <strong class="text-primary">Registration</strong>
                            </p>
                            <!-- <p class="text-center text-gray">Please complete the following 4 steps</p> -->
                            <hr class="w-100px">




                            <div class="form-row">
                                <div class="col-12">
                                    <div class="card" style="background-color: orange">

                                        <div class="card-body" style="background-color: orange">
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label for="studentName" class="col-form-label">Name Of the
                                                        Application</label>
                                                    <custom-textbox [group]="registrationForm" name="studentName"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="100" placeHolder="Name"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="dob" class="col-form-label">Date of Biirth</label>
                                                    <custom-textbox [group]="registrationForm" name="dob" [required]="true"
                                                        [editMode]="isEditMode" [isValid]="isValid" [max]="100"
                                                        placeHolder="DD/MM/YYYY"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="aadhaar" class="col-form-label">Aadhaar Number</label>
                                                    <custom-textbox [group]="registrationForm" name="aadhaar"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="12" placeHolder="Aadhaar"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="biirthplace" class="col-form-label">Birth Place</label>
                                                    <custom-textbox [group]="registrationForm" name="birthplace"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="100"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="aadhaar" class="col-form-label">Age</label>
                                                    <custom-textbox [group]="registrationForm" name="age" [required]="true"
                                                        [editMode]="isEditMode" [isValid]="isValid" [max]="2"
                                                        placeHolder="As on 2018"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="height" class="col-form-label">Height</label>
                                                    <custom-textbox [group]="registrationForm" name="height" [required]="true"
                                                        [editMode]="isEditMode" [isValid]="isValid" [max]="3"
                                                        placeHolder="in cm"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="weight" class="col-form-label">Weight</label>
                                                    <custom-textbox [group]="registrationForm" name="weight" [required]="true"
                                                        [editMode]="isEditMode" [isValid]="isValid" [max]="3"
                                                        placeHolder="in Kg"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="permanentaddress" class="col-form-label">Permanent
                                                        Residential Address</label>
                                                    <custom-textbox [group]="registrationForm" name="permanentaddress"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="250" placeHolder="As in"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="permanentaddress" class="col-form-label">Current
                                                        Residential Address</label>
                                                    <custom-textbox [group]="registrationForm" name="permanentaddress"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="250" placeHolder="As in"></custom-textbox>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label for="mobile" class="col-form-label">Mobile Number</label>
                                                    <small class="phoneNumber">E.g. +91 123-456-7890</small>
                                                    <custom-textbox [group]="registrationForm" name="studentPhone"
                                                        [pattern]="number" [required]="true" [editMode]="isEditMode"
                                                        [isValid]="isValid" [max]="10">
                                                    </custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="email" class="col-form-label">E-Mail</label>
                                                    <custom-textbox [group]="registrationForm" name="mail" [required]="true"
                                                        [editMode]="isEditMode" [isValid]="isValid" [max]="150" pattern="email"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="previoussport" class="col-form-label">Previous Sports
                                                        If Any</label>
                                                    <custom-textbox [group]="registrationForm" name="previoussport"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="150"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="previousmartial" class="col-form-label">Previous
                                                        Martial Arts If Any</label>
                                                    <custom-textbox [group]="registrationForm" name="previousmartial"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="150"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="achievement" class="col-form-label">Achievements If Any</label>
                                                    <custom-textbox [group]="registrationForm" name="achievement"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="150"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="reason" class="col-form-label">Reason to Join Judo</label>
                                                    <custom-textbox [group]="registrationForm" name="reason" [required]="true"
                                                        [editMode]="isEditMode" [isValid]="isValid" [max]="150"></custom-textbox>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="ambitiion" class="col-form-label">Ambition in Judo</label>
                                                    <custom-textbox [group]="registrationForm" name="ambition"
                                                        [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                        [max]="150"></custom-textbox>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="card" style="background-color: orange">
                                            <h4 class="card-title"><strong>Family</strong> Details</h4>

                                            <div class="card-body" style="background-color: orange">
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        <label for="fatherName" class="col-form-label">Father Name
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="fatherName"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="100" placeHolder="Name"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="fatherAge" class="col-form-label">Father Age
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="fatherAge"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="2"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="fatherqualification" class="col-form-label">Qualification
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="fatherqualification"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="10"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="fatheroccupation" class="col-form-label">Occupation
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="fatheroccupation"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="100"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="motherName" class="col-form-label">Mother Name
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="motherName"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="100" placeHolder="Name"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="motherAge" class="col-form-label">Mother Age
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="motherAge"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="2"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="motherqualification" class="col-form-label">Qualification
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="motherqualification"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="10"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="motheroccupation" class="col-form-label">Occupation
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="motheroccupation"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="100"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="siblings" class="col-form-label">No.of.Siblings
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="siblings"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="10"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="income" class="col-form-label">Annual Income
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="income"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="10"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="economical" class="col-form-label">Economical
                                                            Status
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="economic"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="50"></custom-textbox>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="background-color: orange">
                                            <h4 class="card-title"><strong>Health</strong> Condition</h4>

                                            <div class="card-body" style="background-color: orange">
                                                <div class="row">
                                                    <div class="form-group col-md-4">
                                                        <label for="blood" class="col-form-label">Blood Group
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="blood"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="10"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="health" class="col-form-label">Health Condition
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="health"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="100"></custom-textbox>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="mark" class="col-form-label">Visible Mark
                                                        </label>
                                                        <custom-textbox [group]="registrationForm" name="visiblemark"
                                                            [required]="true" [editMode]="isEditMode" [isValid]="isValid"
                                                            [max]="100"></custom-textbox>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="card" style="background-color: orange">
                                            <h4 class="card-title"><strong>Documents</strong> To Be Uploaded</h4>
                                            <div class="card-body" style="background-color: orange">
                                                <div class="row">

                                                    <div class="form-group col-md-4">
                                                        <p>Passport Size Photo</p>
                                                        <div class="input-group file-group">
                                                            <input type="text" class="form-control file-value"
                                                                placeholder="Choose file..." readonly>
                                                            <input type="file" multiple>
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light file-browser" type="button"><i
                                                                        class="fa fa-upload"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        <p>Aadhaar card</p>
                                                        <div class="input-group file-group">
                                                            <input type="text" class="form-control file-value"
                                                                placeholder="Choose file..." readonly>
                                                            <input type="file" multiple>
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light file-browser" type="button"><i
                                                                        class="fa fa-upload"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        <p><span>Any document &nbsp; </span><span style="font-size:10px">(Birth
                                                                Certificate, Class X certificate)</span></p>
                                                        <div class="input-group file-group">
                                                            <input type="text" class="form-control file-value"
                                                                placeholder="Choose file..." readonly>
                                                            <input type="file" multiple>
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light file-browser" type="button"><i
                                                                        class="fa fa-upload"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <p>Income Certificate (Father / Mother )</p>
                                                        <div class="input-group file-group">
                                                            <input type="text" class="form-control file-value"
                                                                placeholder="Choose file..." readonly>
                                                            <input type="file" multiple>
                                                            <span class="input-group-append">
                                                                <button class="btn btn-light file-browser" type="button"><i
                                                                        class="fa fa-upload"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox mr-3">
                                                <input type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label">I agree to terms and
                                                    conditions.</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>





                        <div class="tab-pane fade" id="wizard-form-3">


                            <div class="tab-pane" id="pricing-2" role="tabpanel">
                                <div class="row">

                                    <div class="col-lg-3">
                                        <div class="card card-inverse card-purple text-center p-50">
                                            <div class="card-body">
                                                <h5 class="text-uppercase text-muted">Platinum</h5>
                                                <br>
                                                <h3 class="fw-100 fs-70">Rs.5000</h3>
                                                <small>Full Year</small>

                                                <hr>

                                                <p>
                                                    <strong>Discount Seminar</strong>
                                                </p>
                                                <p>
                                                    <strong>24x7</strong> Support</p>
                                                <p>
                                                    <strong>5</strong> Projects</p>

                                                <br>
                                                <br>
                                                <a class="btn btn-bold btn-block btn-outline btn-light" href="#">Select
                                                    plan</a>
                                            </div>
                                        </div>
                                    </div>





                                    <div class="col-lg-3">
                                        <div class="card card-inverse card-primary text-center p-50">
                                            <div class="card-body">
                                                <h5 class="text-uppercase text-muted">Diamond</h5>
                                                <br>
                                                <h3 class="fw-100 fs-70">Rs.2500</h3>
                                                <small>Half Year</small>

                                                <hr>

                                                <p>
                                                    <strong>Free Seminar</strong>
                                                </p>
                                                <p>
                                                    <strong>24x7</strong> Support</p>
                                                <p>
                                                    <strong>50</strong> Projects</p>

                                                <br>
                                                <br>
                                                <a class="btn btn-bold btn-block btn-outline btn-light" href="#">Select
                                                    plan</a>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-lg-3">
                                        <div class="card card-inverse card-info text-center p-50">
                                            <div class="card-body">
                                                <h5 class="text-uppercase text-muted">Gold</h5>
                                                <br>
                                                <h3 class="fw-100 fs-70">Rs.1500</h3>
                                                <small>Quarterly</small>

                                                <hr>

                                                <p>
                                                    <strong>Online</strong>
                                                </p>
                                                <p>
                                                    <strong>24x7</strong> Support</p>
                                                <p>
                                                    <strong>Unlimited</strong> Projects</p>

                                                <br>
                                                <br>
                                                <a class="btn btn-bold btn-block btn-outline btn-light" href="#">Select
                                                    plan</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="card card-inverse card-info text-center p-50">
                                            <div class="card-body">
                                                <h5 class="text-uppercase text-muted">Silver</h5>
                                                <br>
                                                <h3 class="fw-100 fs-70">Rs.500</h3>
                                                <small>Monthly</small>

                                                <hr>

                                                <p>
                                                    <strong>Unlimited</strong> Storage</p>
                                                <p>
                                                    <strong>24x7</strong> Support</p>
                                                <p>
                                                    <strong>Unlimited</strong> Projects</p>

                                                <br>
                                                <br>
                                                <a class="btn btn-bold btn-block btn-outline btn-light" href="#">Select
                                                    plan</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>



                        <div class="tab-pane fade" id="wizard-form-4">
                            <br>
                            <br>
                            <p class="text-center fs-35 text-muted">Registration Success</p>
                            <p class="text-center text-gray">User ID with Welcome kit shared with your registered mail
                                ID</p>
                            <hr class="w-100px">
                            <br>

                            <div class="px-20">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4">Username</label>
                                    <div class="form-control-plaintext col-sm-8">TheAdmin</div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4">Email</label>
                                    <div class="form-control-plaintext col-sm-8">support@theadmin.io</div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4">Card number</label>
                                    <div class="form-control-plaintext col-sm-8">xxxx-xxxx-xxxx-3648</div>
                                </div>
                            </div>

                        </div>




                    </div>

                    <hr>

                    <div class="flexbox">
                        <button class="btn btn-secondary" data-wizard="prev" type="button">Back</button>
                        <button class="btn btn-secondary" data-wizard="next" type="button">Next</button>
                        <button class="btn btn-primary d-none" data-wizard="finish" type="submit">Finish</button>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>
<!--/.main-content -->