<div style="text-align: center">
    <br>
    <br>
    <label class="page-title"> Madurai District </label>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/Madurai/mdn1.jpeg">
      </div>
      <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn2.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn3.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn4.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn5.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn6.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn7.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn8.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn9.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn10.jpeg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/Madurai/mdn10.jpeg">
        </div>
        <div class="col-lg-6">
          <video width="90%" controls>
            <source src="assets/img/Madurai/vid.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-lg-6">
          <video width="90%" controls>
            <source src="assets/img/Madurai/vid1.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col-lg-6">
          <video width="90%" controls>
            <source src="assets/img/Madurai/vid2.mp4" type="video/mp4">
          </video>
        </div>

    </div>
  </div>