.page-title{
    font-size: 26px !important;
    color: black !important;
    font-weight: 500 !important;
}
img{
    margin: 15px 15px 15px 15px !important;
    max-width: 100% !important;
    height:500px !important;
    width:700px !important;
    
}
video{
    height:500px !important;
    margin: 15px 15px 15px 15px !important;
}