.text-primary{
    font-weight:500 !important;
    font-size:18px !important;
    color:black !important;
}
.text-title{
    font-size:28px !important;
}
.top-sec{
    height: 150px;
    background-color: rgba(0,0,0,0.8);
    width: 75%;
    padding:18px;
}
.middle-sec{
    border-radius: 50%;
    background-color: #009ee2;
    height: 85px;
    width: 100px;
    position: relative;
    margin-left: 110px;
    top: -35px;
    padding:10px;
}
.lower-sec{
    background-color: white;
    width: 75%;
    margin-top: -120px;
    height:230px;
    padding:80px;
}
.text-sec{
    font-size: 33px;
    color: white;
    font-weight: 500;
}
.text-des{
    font-size: 15px;
    color: black;
    font-weight: 400;
}
.count{
    font-size: 40px;
    color: white;
    font-weight: 500;
}
.title{
    font-size:16px !important;
    color:white !important;
}