<div class="col-12" style="background-color: orange; font-size:17px">
  <form [formGroup]="tournamentRegistrationForm" (ngSubmit)="onTournamentRegistration()" data-provide="wizard">
    <div class="card" style="background-color: orange">
      <h4 class="card-title">
        <p class="text-center fs-35 text-muted" style="color:#1e2731 !important">Tournament
            <strong class="text-primary" style="color:#335e8c !important">Registration</strong></p>
    </h4>


      <div class="card-body" style="background-color: orange">
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label for="FullName" class="col-form-label">Applicant Full Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FullName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="FullName"></custom-textbox>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="DateOfBirth" class="col-form-label">Date Of Birth</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="DateOfBirth" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="MM-DD-YYYY"></custom-textbox>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="AadhaarNumber" class="col-form-label">Aadhaar Number</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="AadhaarNumber" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="12" placeHolder="AadhaarNumber" pattern="aadharnumber"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="BirthPlace" class="col-form-label">Birth Place</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="BirthPlace" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="BirthPlace"></custom-textbox>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="AgeAsPerLastBirthday" class="col-form-label">Age</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="AgeAsPerLastBirthday" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="2" placeHolder="AgeAsPerLastBirthday" pattern="number"></custom-textbox>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="Height" class="col-form-label">Height</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="Height" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="3" placeHolder="Height in cm" pattern="fraction"></custom-textbox>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="Weight" class="col-form-label">Weight</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="Weight" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="3" placeHolder="Weight in Kg" pattern="fraction"></custom-textbox>
            </div>
          </div>


          <div class="col-md-10">
            <div class="form-group">
              <label for="PermanentResidentialAddress" class="col-form-label">Permanent Residential Address (As in Aadhaar)</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="PermanentResidentialAddress" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="As in Aadhaar"></custom-textbox>
            </div>
          </div>


          <div class="col-md-10">
            <div class="form-group">
              <label for="CurrentResidentialAddress" class="col-form-label">Current Residential Address</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="CurrentResidentialAddress" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="CurrentResidentialAddress"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="MobileNo" class="col-form-label">Mobile No</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="MobileNo" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="10" placeHolder="MobileNo" pattern="number"></custom-textbox>
            </div>
          </div>



          <div class="col-md-4">
            <div class="form-group">
              <label for="EmailId" class="col-form-label">Email Id</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="EmailId" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="EmailId" pattern="email"></custom-textbox>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="EducationalInstitutionName" class="col-form-label">Educational Institution Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="EducationalInstitutionName" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="EducationalInstitutionName"></custom-textbox>

            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="CurrentStandardLevel" class="col-form-label">Current Educational Status</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="CurrentStandardLevel" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="CurrentStandardLevel"></custom-textbox>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="District" class="col-form-label">District</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="District" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="District"></custom-textbox>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="ClubName" class="col-form-label">Club Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="ClubName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="ClubName"></custom-textbox>

            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="CoachName" class="col-form-label">Coach Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="CoachName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="Coach Name"></custom-textbox>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card"  style="background-color: orange">
      <h4 class="card-title"><strong>Family</strong> Details</h4>

      <div class="card-body"  style="background-color: orange">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label for="FatherName" class="col-form-label">Father Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FatherName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="Father Name"></custom-textbox>
            </div>
          </div>



          <div class="col-md-4">
            <div class="form-group">
              <label for="FatherAge" class="col-form-label">Father Age</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FatherAge" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="2" placeHolder="Father Age" pattern="number"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="FatherQualification" class="col-form-label">FatherQualification</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FatherQualification" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="FatherQualification"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="FatherOccupation" class="col-form-label">Father Occupation</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FatherOccupation" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="FatherOccupation"></custom-textbox>
            </div>
          </div>

          <div class="col-md-8">
            <br>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="MotherName" class="col-form-label">Mother Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="MotherName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="MotherName"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="MotherQualification" class="col-form-label">Mother Qualification</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="MotherQualification" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="MotherQualification"></custom-textbox>

            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="MotherOccupation" class="col-form-label">Mother Occupation</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="MotherOccupation" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="MotherOccupation"></custom-textbox>

            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="EconomicStatus" class="col-form-label">Annual Income(Father/Mother)</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="EconomicStatus" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="8" placeHolder="EconomicStatus"></custom-textbox>

            </div>
          </div>



          <!-- <div class="col-md-4">
            <div class="form-group">
              <label for="FamilyIncome" class="col-form-label">Family Income</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FamilyIncome" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="FamilyIncome"></custom-textbox>
            </div>
          </div> -->

        </div>
      </div>
    </div>


    <div class="card"  style="background-color: orange">
      <h4 class="card-title"><strong>Health</strong> Status</h4>

      <div class="card-body"  style="background-color: orange">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label for="BloodGroup" class="col-form-label">Blood Group</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="BloodGroup" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="BloodGroup"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="HealthChallenges" class="col-form-label">Health Challenges if any</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="HealthChallenges" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="HealthChallenges"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="VisibleMark" class="col-form-label">Visible Mark</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="VisibleMark" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="VisibleMark"></custom-textbox>
            </div>
          </div>


        </div>
      </div>
    </div>


    <div class="card"  style="background-color: orange">
      <h4 class="card-title"><strong>Documents</strong> To Be Uploaded

      </h4>


      <div class="card-body"  style="background-color: orange">
        <div class="row">
          <div class="col-md-4">
            <label class="col-form-label">Passport Size Photo</label>
            <div class="form-group file-group">
              <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
              <input (change)="onSelectPhoto($event,'PassportSize')" type="file" multiple>
            </div>
          </div>


          <div class="col-md-4">
            <label class="col-form-label">Aadhaar card</label>
            <div class="form-group file-group">
              <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
              <input type="file" (change)="onSelectPhoto($event,'AadhaarCard')" multiple>
            </div>
          </div>



          <div class="col-md-4">
            <label class="col-form-label">Income Certificate (Father / Mother )</label>
            <div class="form-group file-group">
              <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
              <input type="file" (change)="onSelectPhoto($event,'IncomeCertificate')" multiple>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-form-label"><span>Attach any one document  <br> </span>
              <span style="font-size:12px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Birth
              Certificate, Class X certificate)</span></label>
            <div class="form-group file-group">
              <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
              <input type="file" (change)="onSelectPhoto($event,'MiscDocument')" multiple>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-md-4">
      <button class="btn btn-w-md btn-info" type="submit" style="background-color: orange">Submit</button>
    </div>
    <br>
    <br>
  </form>
</div>