<div class="col-12">
  <form [formGroup]="tournamentRegistrationForm" (ngSubmit)="onTournamentRegistration()" data-provide="wizard">
    <div class="card">
      <h4 class="card-title"><strong>Tournament</strong> Registration</h4>


      <div class="card-body">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label for="FullName" class="col-form-label">Full Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FullName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="FullName"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="DateOfBirth" class="col-form-label">Date Of Birth</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="DateOfBirth" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="MM-DD-YYYY"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="AadhaarNumber" class="col-form-label">Aadhaar Number</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="AadhaarNumber" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="AadhaarNumber" pattern="aadharnumber"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="BirthPlace" class="col-form-label">Birth Place</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="BirthPlace" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="BirthPlace"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="AgeAsPerLastBirthday" class="col-form-label">Age As Per Last Birthday</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="AgeAsPerLastBirthday" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="AgeAsPerLastBirthday" pattern="number"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="Height" class="col-form-label">Height (cm)</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="Height" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="Height" pattern="fraction"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="Weight" class="col-form-label">Weight (kg)</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="Weight" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="Weight" pattern="fraction"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="PermanentResidentialAddress" class="col-form-label">Permanent Residential Address</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="PermanentResidentialAddress" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="PermanentResidentialAddress"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="CurrentResidentialAddress" class="col-form-label">Current Residential Address</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="CurrentResidentialAddress" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="CurrentResidentialAddress"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="MobileNo" class="col-form-label">Mobile No</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="MobileNo" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="MobileNo" pattern="number"></custom-textbox>
            </div>
          </div>



          <div class="col-md-4">
            <div class="form-group">
              <label for="EmailId" class="col-form-label">Email Id</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="EmailId" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="EmailId" pattern="email"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="EducationalInstitutionName" class="col-form-label">Educational Institution Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="EducationalInstitutionName" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="EducationalInstitutionName"></custom-textbox>

            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="CurrentStandardLevel" class="col-form-label">Current Standard Level</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="CurrentStandardLevel" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="CurrentStandardLevel"></custom-textbox>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="District" class="col-form-label">District</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="District" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="District"></custom-textbox>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="ClubName" class="col-form-label">Club Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="ClubName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="ClubName"></custom-textbox>

            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="CoachName" class="col-form-label">Coach Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="CoachName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="Coach Name"></custom-textbox>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card">
      <h4 class="card-title"><strong>Family</strong> Details</h4>

      <div class="card-body">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label for="FatherName" class="col-form-label">Father Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FatherName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="Father Name"></custom-textbox>
            </div>
          </div>



          <div class="col-md-4">
            <div class="form-group">
              <label for="FatherAge" class="col-form-label">Father Age</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FatherAge" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="Father Age" pattern="number"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="FatherQualification" class="col-form-label">FatherQualification</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FatherQualification" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="FatherQualification"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="FatherOccupation" class="col-form-label">Father Occupation</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FatherOccupation" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="FatherOccupation"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="MotherName" class="col-form-label">Mother Name</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="MotherName" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="MotherName"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="MotherQualification" class="col-form-label">Mother Qualification</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="MotherQualification" [required]="true"
                [editMode]="isEditMode" [isValid]="isValid" [max]="100" placeHolder="MotherQualification"></custom-textbox>

            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="MotherOccupation" class="col-form-label">Mother Occupation</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="MotherOccupation" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="MotherOccupation"></custom-textbox>

            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="EconomicStatus" class="col-form-label">Economic Status</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="EconomicStatus" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="EconomicStatus"></custom-textbox>

            </div>
          </div>



          <!-- <div class="col-md-4">
            <div class="form-group">
              <label for="FamilyIncome" class="col-form-label">Family Income</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="FamilyIncome" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="FamilyIncome"></custom-textbox>
            </div>
          </div> -->

        </div>
      </div>
    </div>


    <div class="card">
      <h4 class="card-title"><strong>Health</strong> Condition</h4>

      <div class="card-body">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label for="BloodGroup" class="col-form-label">Blood Group</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="BloodGroup" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="BloodGroup"></custom-textbox>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="HealthChallenges" class="col-form-label">Health Challenges if any</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="HealthChallenges" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="HealthChallenges"></custom-textbox>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="VisibleMark" class="col-form-label">Visible Mark</label>
              <custom-textbox [group]="tournamentRegistrationForm" name="VisibleMark" [required]="true" [editMode]="isEditMode"
                [isValid]="isValid" [max]="100" placeHolder="VisibleMark"></custom-textbox>
            </div>
          </div>


        </div>
      </div>
    </div>


    <div class="card">
      <h4 class="card-title"><strong>Documents</strong> To Be Uploaded

      </h4>


      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <p>Passport Size Photo</p>
            <div class="form-group file-group">
              <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
              <input (change)="onSelectPhoto($event,'PassportSize')" type="file" multiple>
            </div>
          </div>


          <div class="col-md-4">
            <p>Aadhaar card</p>
            <div class="form-group file-group">
              <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
              <input type="file" (change)="onSelectPhoto($event,'AadhaarCard')" multiple>
            </div>
          </div>



          <div class="col-md-4">
            <p>Income Certificate (Father / Mother )</p>
            <div class="form-group file-group">
              <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
              <input type="file" (change)="onSelectPhoto($event,'IncomeCertificate')" multiple>
            </div>
          </div>

          <div class="col-md-4">
            <p>Any Document(Birth Certificate/Class X Cert.)</p>
            <div class="form-group file-group">
              <input type="text" class="form-control file-value file-browser" placeholder="Choose file..." readonly>
              <input type="file" (change)="onSelectPhoto($event,'MiscDocument')" multiple>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-md-4">
      <button class="btn btn-w-md btn-info" type="submit">Submit</button>
    </div>
  </form>
</div>