<div>
  <!--Timeline-->
  <div class="main-content" style="background-color:orange">
      <ol class="timeline" id="demo-timeline-alignment">
        <li class="timeline-period">
          <time>Past Achievements</time>
        </li>


        <li class="timeline-block">
          <div class="timeline-detail">
            <time>26/08/18</time><br>
            <small><a href="#">Maryam Amiri</a> updated her status</small>
          </div>

          <div class="timeline-point">
            <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
          </div>

          <div class="timeline-content" style="background-color:orange">
            <div class="card" style="background-color:orange">
              <div class="card-body bb-1 border-fade">
                <p class="lead">Sathish won the All India Judo Championship. The Association honoured him with Rs.200000 for his exemplary performance. </p>

                <div class="gap-items-4 mt-2">
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-thumbs-up mr-1"></i> 196
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-comment mr-1"></i> 24
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-share-alt mr-1"></i> 3
                  </a>
                </div>
              </div>

              

            </div>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail" style="background-color:orange">
            <time>1 hour ago</time><br>
            <small><a href="#">Lorem Ipsum</a>Lorem Ipsum</small>
          </div>

          <div class="timeline-point">
            <span class="avatar bg-primary"><i class="fa fa-user"></i></span>
          </div>

          <div class="timeline-content">
            <a class="card card-hover-shadow" href="#">
              <div class="media align-items-center" style="background-color:orange">
                <img class="avatar avatar-lg" src="assets/img/avatar/2.jpg" alt="...">
                <div class="media-body" style="background-color:orange">
                  <p class="lead">Lorem Ipsum</p>
                  <small>Lorem Ipsum</small>
                </div>
              </div>
            </a>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail">
            <time>4 hours ago</time><br>
            <small><a href="#">Lorem Ipsum</a> Lorem Ipsum!</small>
          </div>

          <div class="timeline-point">
            <span class="avatar text-white" style="background-color: #00aced">
              <i class="fa fa-twitter"></i>
            </span>
          </div>

          <div class="timeline-content">
            <div class="card card-inverse" style="background-color: #00aced">
              <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui</p>
                <div class="gap-items-4 text-right">
                  <a class="text-white fs-14" href="#"><i class="fa fa-heart"></i> 28</a>
                  <a class="text-white fs-14" href="#"><i class="fa fa-retweet"></i> 3</a>
                </div>
              </blockquote>
            </div>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail">
            <time>14 hours ago</time><br>
            <small><a href="#">Lorem Ipsum</a>Lorem ipsum</small>
          </div>

          <div class="timeline-point">
            <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
          </div>

          <div class="timeline-content">
            <div class="card">
              <a href="#">
                <img src="assets/img/gallery/1.jpg" alt="..." data-provide="lity">
              </a>

              <div class="card-body">
                <div class="gap-items-4">
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-thumbs-up mr-1"></i> 83
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-comment mr-1"></i> 0
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-share-alt mr-1"></i> 1
                  </a>
                </div>
              </div>

              <form class="publisher bg-transparent bt-1 border-fade">
                <img class="avatar avatar-sm" src="assets/img/avatar/2.jpg" alt="...">
                <input class="publisher-input" type="text" placeholder="Add Comment">
                <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
                <span class="publisher-btn file-group">
                  <i class="fa fa-camera file-browser"></i>
                  <input type="file">
                </span>
              </form>

            </div>
          </div>
        </li>

        <li></li>

        <li class="timeline-period">
          <time>Present Achievements</time>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail">
            <time>22:03 PM</time><br>
            <small>Lorem Ipsum'</small>
          </div>

          <div class="timeline-point">
            <span class="avatar bg-danger"><i class="fa fa-area-chart"></i></span>
          </div>

          <div class="timeline-content">
            <div class="card card-body card-inverse card-danger lead">Lorem Ipsum</div>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail">
            <time>21:18 PM</time><br>
            <p>Lorem Ipsum</p>
          </div>

          <div class="timeline-point">
            <span class="avatar bg-info"><i class="fa fa-birthday-cake"></i></span>
          </div>

          <div class="timeline-content">
            <div class="card card-info">
              <div class="card-body text-white">
                <div class="fs-50 fw-100">6,374</div>
                <p class="lead opacity-80">Lorem Ipsum</p>
              </div>

              <div data-provide="sparkline" data-width="100%" data-height="160" data-line-width="2" data-line-color="#fff" data-fill-color="false" data-min-spot-color="#fff" data-max-spot-color="#fff" data-highlight-spot-color="#fff" data-spot-color="#fff" data-spot-radius="3" data-value-spots="{&quot;:99&quot;: &quot;#fff&quot;}">1,8,6,5,6,8,7,9,7,8,10,16</div>
            </div>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail">
            <time>05:38 PM</time><br>
            <small>Lorem Ipsum</small>
          </div>

          <div class="timeline-point">
            <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
          </div>

          <div class="timeline-content">
            <div class="card card-inverse bg-img text-center py-70" style="background-image: url(assets/img/gallery/4.jpg)" data-overlay="7">
              <div class="card-body">
                <span class="bb-1 opacity-80 pb-2">08 January, 2017</span>
                <br><br>
                <h3>Lorem Ipsum</h3>
                <br><br>
                <a class="btn btn-outline btn-bold no-radius btn-light" href="#">Read More</a>
              </div>
            </div>
          </div>
        </li>


        <li class="timeline-block">
          <div class="timeline-detail">
            <time>11:19 AM</time><br>
            <small>Lorem Ipsum</small>
          </div>

          <div class="timeline-point">
            <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
          </div>

          <div class="timeline-content">
            <div class="card">
              <div class="card-body">
                <p>Lorem Ipsum</p>
              </div>

              <div class="row gap-1" data-provide="photoswipe">
                <a class="col" href="#">
                  <img src="assets/img/gallery/1.jpg" alt="...">
                </a>

                <a class="col" href="#">
                  <img src="assets/img/gallery/1.jpg" alt="...">
                </a>
              </div>


              <div class="card-body">
                <div class="gap-items-4">
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-thumbs-up mr-1"></i> 196
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-comment mr-1"></i> 24
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-share-alt mr-1"></i> 3
                  </a>
                </div>
              </div>


              <div class="media-list media-list-divided bg-lighter">
                <div class="media">
                  <a class="avatar" href="#">
                    <img src="assets/img/avatar/5.jpg" alt="...">
                  </a>
                  <div class="media-body">
                    <p>
                      <a href="#"><strong>Lorem Ipsum</strong></a>
                      <time class="float-right text-fade" datetime="2017-07-14 20:00">25 Dec</time>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui</p>
                  </div>
                </div>
              </div>


              <form class="publisher bg-transparent bt-1 border-fade">
                <img class="avatar avatar-sm" src="assets/img/avatar/2.jpg" alt="...">
                <input class="publisher-input" type="text" placeholder="Add Comment">
                <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
                <span class="publisher-btn file-group">
                  <i class="fa fa-camera file-browser"></i>
                  <input type="file">
                </span>
              </form>

            </div>
          </div>
        </li>
      </ol>
<ol class="timeline" id="demo-timeline-alignment">
        <li class="timeline-period">
          <time>Future Scope</time>
        </li>


        <li class="timeline-block">
          <div class="timeline-detail">
            <time>24 mins ago</time><br>
            <small><a href="#">Maryam Amiri</a> updated her status</small>
          </div>

          <div class="timeline-point">
            <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
          </div>

          <div class="timeline-content">
            <div class="card">
              <div class="card-body bb-1 border-fade">
                <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <div class="gap-items-4 mt-2">
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-thumbs-up mr-1"></i> 196
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-comment mr-1"></i> 24
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-share-alt mr-1"></i> 3
                  </a>
                </div>
              </div>

              <form class="publisher bg-white">
                <img class="avatar avatar-sm" src="assets/img/avatar/2.jpg" alt="...">
                <input class="publisher-input" type="text" placeholder="Add Your Comment">
                <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
                <span class="publisher-btn file-group">
                  <i class="fa fa-camera file-browser"></i>
                  <input type="file">
                </span>
              </form>

            </div>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail">
            <time>1 hour ago</time><br>
            <small><a href="#">Lorem Ipsum</a>Lorem Ipsum</small>
          </div>

          <div class="timeline-point">
            <span class="avatar bg-primary"><i class="fa fa-user"></i></span>
          </div>

          <div class="timeline-content">
            <a class="card card-hover-shadow" href="#">
              <div class="media align-items-center">
                <img class="avatar avatar-lg" src="assets/img/avatar/2.jpg" alt="...">
                <div class="media-body">
                  <p class="lead">Lorem Ipsum</p>
                  <small>Lorem Ipsum</small>
                </div>
              </div>
            </a>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail">
            <time>4 hours ago</time><br>
            <small><a href="#">Lorem Ipsum</a> Lorem Ipsum!</small>
          </div>

          <div class="timeline-point">
            <span class="avatar text-white" style="background-color: #00aced">
              <i class="fa fa-twitter"></i>
            </span>
          </div>

          <div class="timeline-content">
            <div class="card card-inverse" style="background-color: #00aced">
              <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui</p>
                <div class="gap-items-4 text-right">
                  <a class="text-white fs-14" href="#"><i class="fa fa-heart"></i> 28</a>
                  <a class="text-white fs-14" href="#"><i class="fa fa-retweet"></i> 3</a>
                </div>
              </blockquote>
            </div>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-detail">
            <time>14 hours ago</time><br>
            <small><a href="#">Lorem Ipsum</a>Lorem ipsum</small>
          </div>

          <div class="timeline-point">
            <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
          </div>

          <div class="timeline-content">
            <div class="card">
              <a href="#">
                <img src="assets/img/gallery/1.jpg" alt="..." data-provide="lity">
              </a>

              <div class="card-body">
                <div class="gap-items-4">
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-thumbs-up mr-1"></i> 83
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-comment mr-1"></i> 0
                  </a>
                  <a class="text-lighter hover-light" href="#">
                    <i class="fa fa-share-alt mr-1"></i> 1
                  </a>
                </div>
              </div>

              <form class="publisher bg-transparent bt-1 border-fade">
                <img class="avatar avatar-sm" src="assets/img/avatar/2.jpg" alt="...">
                <input class="publisher-input" type="text" placeholder="Add Comment">
                <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
                <span class="publisher-btn file-group">
                  <i class="fa fa-camera file-browser"></i>
                  <input type="file">
                </span>
              </form>

            </div>
          </div>
        </li>

        <li></li>

        <li class="timeline-block pt-2">
          <div class="spinner-circle mx-auto"></div>
        </li>
      </ol>
  </div>
  <!--End-->
</div>
