<div>
  <!--Timeline-->
  <div class="main-content" style="background-color:orange">
    <ol class="timeline" id="demo-timeline-alignment">
      <li class="timeline-period">
        <time>Past Achievements</time>
      </li>


      <li class="timeline-block">
        <div class="timeline-detail">
          <time>1968</time><br>
          <small><a href="#"> </a></small>
        </div>

        <div class="timeline-point">
          <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
        </div>

        <div class="timeline-content" style="background-color:orange">
          <div class="card" style="background-color:orange">
            <div class="card-body bb-1 border-fade">
              <p class="lead">Judo was introduced by Sensei C.S RajaGopal in Tamilnadu </p>
              </div>
            </div>
          </div>
        
      </li>

      <li class="timeline-block">
        <div class="timeline-detail" style="background-color:orange">
          <time>1984</time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar bg-primary"><i class="fa fa-user"></i></span>
        </div>

        <div class="timeline-content">
          <a class="card card-hover-shadow" href="#">
            <div class="media align-items-center" style="background-color:orange">
              <img class="avatar avatar-lg" src="assets/img/avatar/2.jpg" alt="...">
              <div class="media-body" style="background-color:orange">
                <p class="lead">South zone tournament conducted by Mr.Mathivanan.</p>
              </div>
            </div>
          </a>
        </div>
      </li>

      <li class="timeline-block">
        <div class="timeline-detail">
          <time>1991</time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar text-white" style="background-color: #00aced">
            <i class="fa fa-twitter"></i>
          </span>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse" style="background-color: #00aced">
            <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
              <p>Tamil nadu wins first time national medal by Mr.Sadish and Mr.Venkatachalapathy</p><br>
              <p>Sub Junior national conduced by TNJA</p>
            </blockquote>
          </div>
        </div>
      </li>
      <li class="timeline-block">
        <div class="timeline-detail">
          <time>1994</time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar text-white" style="background-color: #00aced">
            <i class="fa fa-twitter"></i>
          </span>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse" style="background-color: #00aced">
            <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
              <p>Mr.Ranjith – two time national medalist</p><br>
              <p>Federation Cup organized by TNJA</p><br>
              <p>IOC Solidarity Course conducted by TNJA</p>
            </blockquote>
          </div>
        </div>
      </li>
      <li class="timeline-block">
        <div class="timeline-detail">
          <time>1995</time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar text-white" style="background-color: #00aced">
            <i class="fa fa-twitter"></i>
          </span>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse" style="background-color: #00aced">
            <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
              <p>South asian federation games conducted by Government of Tamil nadu and organized by Tamil nadu judo
                association under the auspices of Judo Federation of India</p><br>
            </blockquote>
          </div>
        </div>
      </li>

      <li class="timeline-block">
        <div class="timeline-detail">
          <time>1998 </time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar text-white" style="background-color: #00aced">
            <i class="fa fa-twitter"></i>
          </span>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse" style="background-color: #00aced">
            <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
              <p>Mr.Desppan – National Medalist
              </p><br>
            </blockquote>
          </div>
        </div>
      </li>

      <li class="timeline-block">
        <div class="timeline-detail">
          <time>2003 </time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar text-white" style="background-color: #00aced">
            <i class="fa fa-twitter"></i>
          </span>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse" style="background-color: #00aced">
            <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
              <p>Mr.Bala chandran – National medalist </p><br>
              <p>Judo introduced in Anna University Games by sensi elamparuthi who starts taking judo into other
                districts namely tirunelveli Tiruchy and surrounding areas .</p><br>
              <p>Biggest blow for tnja , as Tamilnadu looses a great coach in Elamparuthi</p>
            </blockquote>
          </div>
        </div>
      </li>
      <li class="timeline-block">
        <div class="timeline-detail">
          <time>2004 </time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar text-white" style="background-color: #00aced">
            <i class="fa fa-twitter"></i>
          </span>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse" style="background-color: #00aced">
            <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
              <p>As per the wishes of sensi elamparuthi and with the blessings of sensi Rajgopal and sensi umashankar ,
                Sensei Sadish took over as the Secretary of Tamil Nadu Judo Association, taking Judo to next dimension
                by making a four district state association into a 29 district state association. </p><br>
              <p>Judo introduced in Sports Development Unit</p><br>
              <p>First Judo coach in Sports Authority of tamil nadu Mr.Uma Shankar.</p>
            </blockquote>
          </div>
        </div>
      </li>
      <li class="timeline-block">
        <div class="timeline-detail">
          <time>2005</time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar text-white" style="background-color: #00aced">
            <i class="fa fa-twitter"></i>
          </span>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse" style="background-color: #00aced">
            <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
              <p>Judo introduced in Police Department Team</p><br>
              <p>Judo introduced in Schools games , Republic day and Bharathiyar day and SGFI (School Game Federation
                of India</p><br>
              <p>TNJA sends full team to every national event .</p>
            </blockquote>
          </div>
        </div>
      </li>

      <li class="timeline-block">
        <div class="timeline-detail">
          <time>2006</time><br>
          <small><a href="#"></a></small>
        </div>

        <div class="timeline-point">
          <span class="avatar text-white" style="background-color: #00aced">
            <i class="fa fa-twitter"></i>
          </span>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse" style="background-color: #00aced">
            <blockquote class="blockquote blockquote-inverse no-border card-body m-0">
              <p>Tamil nadu judo association conducts Junior Nationals with Mr.Dayandhi maran popularizing Judo across
                tamil nadu.
              </p><br>
            </blockquote>
          </div>
        </div>
      </li>

      <li></li>

      <li class="timeline-period">
        <time>Present Achievements</time>
      </li>

      <li class="timeline-block">
        <div class="timeline-detail">
          <small>2012 </small>
        </div>

        <div class="timeline-point">
          <span class="avatar bg-danger"><i class="fa fa-area-chart"></i></span>
        </div>

        <div class="timeline-content">
          <div class="card card-body card-inverse card-danger lead">Para Judo founded and introduced by Sensei Uma
            Shankar for the blind, disabled and deaf</div>
        </div>
      </li>

      <li class="timeline-block">
        <div class="timeline-detail" >
          <p>2015 </p>
        </div>

        <div class="timeline-point" >
          <span class="avatar bg-info"><i class="fa fa-birthday-cake"></i></span>
        </div>

        <div class="timeline-content"  >
          <div class="card card-info"  style="background-color: #f96868 !important">
            <div class="card-body text-white">
              <div class="fs-50 fw-100"></div>
              <p class="lead opacity-80">TNJA conducts Sub Junior National</p>
            </div>

            
          </div>
        </div>
      </li>

      <li class="timeline-block">
        <div class="timeline-detail">
          <small>2016 </small>
        </div>

        <div class="timeline-point" >
          <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
        </div>

        <div class="timeline-content">
          <div class="card card-inverse bg-img text-center py-70" style="background-color:#f96868 !important "
            data-overlay="7">
            <div class="card-body">
              <span class="bb-1 opacity-80 pb-2"></span>
              <br><br>
              <h3>Tamil nadu players under the training of sensi uma Shankar , win international medals in asian and
                common wealth in Para Judo Games. </h3>
              <br><br>
              <h3>Tamilnadu judo gets its first sports hostel through which till today , students are getting free
                education accommodation and food with a hope and trust very soon national medal achievers shall be
                created very soon .</h3>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-block">
        <div class="timeline-detail" >
          <small>2017 </small>
        </div>

        <div class="timeline-point">
          <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
        </div>
        <div class="timeline-content">
          <div class="card"  style="background-color: #f96868 !important">
            <div class="card-body"  style="background-color: #f96868 !important">
              <p></p>
            </div>
            <div class="media-list media-list-divided bg-lighter">
              <div class="media" style="background-color: #f96868 !important"  >
                <a class="avatar" href="#">
                  
                </a>
                <div class="media-body"  style="background-color: #f96868 !important">
                  <p>
                    <a href="#"><strong></strong></a>

                  </p>
                  <p>TNJA conducts Senior National making it one of the very few states to conduct all formats of
                    national games with a opening for TNJA to host an international Judo tournament in 2019-2020.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ol>
    <ol class="timeline" id="demo-timeline-alignment">
      <li class="timeline-period">
        <time>Future Scope</time>
      </li>
      <li class="timeline-block">
        <div class="timeline-detail">
          <small>2017 onwards</small>
        </div>
        <div class="timeline-point">
          <a href="#"><img class="avatar" src="assets/img/avatar/1.jpg" alt="..."></a>
        </div>
        <div class="timeline-content">
          <div class="card">
            <div class="card-body bb-1 border-fade">
              <p class="lead"> TNJA holds its place in top 10 teams in India.</p>
            </div>
          </div>
        </div>
      </li>
      <li></li>
      <li class="timeline-block pt-2">
        <div class="spinner-circle mx-auto"></div>
      </li>
    </ol>
  </div>
  <!--End-->
</div>