<div style="text-align: center">
  <br>
  <br>
  <label class="page-title"> Tamil Nadu State Championship</label>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <label class="title">Senior State Judo Championship 18-19, Namakkal</label>
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s1.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s2.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s1.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s2.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s3.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s5.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s6.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s7.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s8.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s9.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s10.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s11.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/s12.jpeg">
    </div>
    <div class="col-lg-12">
      <label class="title">Madurai District</label>
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Madurai/mdn6.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Madurai/mdn7.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Madurai/mdn8.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Madurai/mdn9.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Madurai/mdn10.jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/Madurai/mdn10.jpeg">
    </div>
    <div class="col-lg-12">
        <label class="title">Ramanathapuram District</label>
      </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (31).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (32).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (33).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/pic1 (34).jpg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (2).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (3).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (4).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (5).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/ramanathapuram/rmd (6).jpeg">
    </div>
    <div class="col-lg-6">
        <img src="assets/img/karur/karur (15).jpeg">
      </div>
      <div class="col-lg-6">
        <img src="assets/img/karur/karur (16).jpeg">
      </div>
      <div class="col-lg-6">
        <img src="assets/img/karur/karur (17).jpeg">
      </div>
      <div class="col-lg-6">
        <img src="assets/img/karur/karur (18).jpeg">
      </div>
    <div class="col-lg-12">
        <label class="title">Karur District </label>
      </div>
    <div class="col-lg-6">
      <img src="assets/img/karur/karur (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/karur/karur (10).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/karur/karur (11).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/karur/karur (12).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/karur/karur (13).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/karur/karur (14).jpeg">
    </div>
    
    <div class="col-lg-6">
      <img src="assets/img/karur/karur (19).jpeg">
    </div>
    <div class="col-lg-12">
      <label class="title">Senior National Judo Championship 16-17, Chennai </label>
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (1).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (2).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (3).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (4).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (5).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (6).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (7).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (8).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (9).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (10).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (11).JPG">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/seniornationaltn (12).JPG">
    </div>
    <div class="col-lg-12">
      <label class="title">Senior Natioanl Judo Championship, Viskhapatnam 18-19</label>
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/team (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/team (2).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/team (3).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/state/team (4).jpeg">
    </div>
    <div class="col-lg-12">
      <label class="title">Sub Junior State Judo Championship 2017-18 </label>
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/news2.jpeg">
    </div>
    <div class="col-lg-12">
        <label class="title">Tamil Nadu Police Judo Team particiapating in Police Games </label>
      </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (1).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (2).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (3).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (4).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (5).jpeg">
    </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (6).jpeg">
    </div>
    <div class="col-lg-12">
        <label class="title">Dindigul District </label>
      </div>
    <div class="col-lg-6">
      <img src="assets/img/News/newspolice/police (7).jpeg">
    </div>
    <div class="col-lg-12">
        <label class="title">SDAT - CM Function 2018 </label>
      </div>
    <div class="col-lg-6">
        <img src="assets/img/News/news3.jpg">
      </div>
      <div class="col-lg-6">
          <img src="assets/img/News/news4.jpg">
        </div>
      



  </div>
</div>