
<!--Main Content-->
<div>	
  <div class="row">
  <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Ariyalur</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Chennai</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Coimbatore</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Cuddalore</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        </div>
        <div class="row">
  <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Dharmapuri</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Dindigul</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
        
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Erode</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Kancheepuram</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        </div>
        <div class="row">
  <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Kanniyakumari</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Karur</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Krishnagiri</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Madurai</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        </div>
        <div class="row">
  <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Nagapattinum</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Namakkal</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Nilgiris</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="text-white card-body bg-info py-60">
                  <div class="flexbox">
                    <a href="#">
                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                    </a>
                    <div class="flex-grow pl-20">
                      <h4><a class="text-white" href="#">Perambalur</a></h4>
                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                      
                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
                      <div class="card">
                        <div class="text-white card-body bg-info py-60">
                          <div class="flexbox">
                            <a href="#">
                              <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                            </a>
                            <div class="flex-grow pl-20">
                              <h4><a class="text-white" href="#">Pudukottai</a></h4>
                              <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                              
                              <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                <div class="col-md-6 col-lg-3">
                      <div class="card">
                        <div class="text-white card-body bg-info py-60">
                          <div class="flexbox">
                            <a href="#">
                              <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                            </a>
                            <div class="flex-grow pl-20">
                              <h4><a class="text-white" href="#">Ramanathapuram</a></h4>
                              <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                              
                              <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                
                <div class="col-md-6 col-lg-3">
                      <div class="card">
                        <div class="text-white card-body bg-info py-60">
                          <div class="flexbox">
                            <a href="#">
                              <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                            </a>
                            <div class="flex-grow pl-20">
                              <h4><a class="text-white" href="#">Salem</a></h4>
                              <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                              
                              <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                <div class="col-md-6 col-lg-3">
                      <div class="card">
                        <div class="text-white card-body bg-info py-60">
                          <div class="flexbox">
                            <a href="#">
                              <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                            </a>
                            <div class="flex-grow pl-20">
                              <h4><a class="text-white" href="#">Sivagangai</a></h4>
                              <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                              
                              <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-lg-3">
                              <div class="card">
                                <div class="text-white card-body bg-info py-60">
                                  <div class="flexbox">
                                    <a href="#">
                                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                    </a>
                                    <div class="flex-grow pl-20">
                                      <h4><a class="text-white" href="#">Thanjavur</a></h4>
                                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                      
                                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                            </div>
                        <div class="col-md-6 col-lg-3">
                              <div class="card">
                                <div class="text-white card-body bg-info py-60">
                                  <div class="flexbox">
                                    <a href="#">
                                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                    </a>
                                    <div class="flex-grow pl-20">
                                      <h4><a class="text-white" href="#">Theni</a></h4>
                                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                      
                                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                            </div>
                        
                        <div class="col-md-6 col-lg-3">
                              <div class="card">
                                <div class="text-white card-body bg-info py-60">
                                  <div class="flexbox">
                                    <a href="#">
                                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                    </a>
                                    <div class="flex-grow pl-20">
                                      <h4><a class="text-white" href="#">Thoothukudi</a></h4>
                                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                      
                                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                            </div>
                        <div class="col-md-6 col-lg-3">
                              <div class="card">
                                <div class="text-white card-body bg-info py-60">
                                  <div class="flexbox">
                                    <a href="#">
                                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                    </a>
                                    <div class="flex-grow pl-20">
                                      <h4><a class="text-white" href="#">Tiruchirapalli</a></h4>
                                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                      
                                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-lg-3">
                                      <div class="card">
                                        <div class="text-white card-body bg-info py-60">
                                          <div class="flexbox">
                                            <a href="#">
                                              <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                            </a>
                                            <div class="flex-grow pl-20">
                                              <h4><a class="text-white" href="#">Tirunelveli</a></h4>
                                              <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                              
                                              <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                            </div>
                                          </div>
                                        </div>
                                       
                                      </div>
                                    </div>
                                <div class="col-md-6 col-lg-3">
                                      <div class="card">
                                        <div class="text-white card-body bg-info py-60">
                                          <div class="flexbox">
                                            <a href="#">
                                              <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                            </a>
                                            <div class="flex-grow pl-20">
                                              <h4><a class="text-white" href="#">Tiruppur</a></h4>
                                              <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                              
                                              <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                            </div>
                                          </div>
                                        </div>
                                       
                                      </div>
                                    </div>
                                
                                <div class="col-md-6 col-lg-3">
                                      <div class="card">
                                        <div class="text-white card-body bg-info py-60">
                                          <div class="flexbox">
                                            <a href="#">
                                              <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                            </a>
                                            <div class="flex-grow pl-20">
                                              <h4><a class="text-white" href="#">Tiruvallur</a></h4>
                                              <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                              
                                              <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                            </div>
                                          </div>
                                        </div>
                                       
                                      </div>
                                    </div>
                                <div class="col-md-6 col-lg-3">
                                      <div class="card">
                                        <div class="text-white card-body bg-info py-60">
                                          <div class="flexbox">
                                            <a href="#">
                                              <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                            </a>
                                            <div class="flex-grow pl-20">
                                              <h4><a class="text-white" href="#">Tiruvannamalai</a></h4>
                                              <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                              
                                              <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                            </div>
                                          </div>
                                        </div>
                                       
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 col-lg-3">
                                              <div class="card">
                                                <div class="text-white card-body bg-info py-60">
                                                  <div class="flexbox">
                                                    <a href="#">
                                                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                                    </a>
                                                    <div class="flex-grow pl-20">
                                                      <h4><a class="text-white" href="#">Thiruvarur</a></h4>
                                                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                                      
                                                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                                    </div>
                                                  </div>
                                                </div>
                                               
                                              </div>
                                            </div>
                                        <div class="col-md-6 col-lg-3">
                                              <div class="card">
                                                <div class="text-white card-body bg-info py-60">
                                                  <div class="flexbox">
                                                    <a href="#">
                                                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                                    </a>
                                                    <div class="flex-grow pl-20">
                                                      <h4><a class="text-white" href="#">Vellore</a></h4>
                                                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                                      
                                                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                                    </div>
                                                  </div>
                                                </div>
                                               
                                              </div>
                                            </div>
                                        
                                        <div class="col-md-6 col-lg-3">
                                              <div class="card">
                                                <div class="text-white card-body bg-info py-60">
                                                  <div class="flexbox">
                                                    <a href="#">
                                                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                                    </a>
                                                    <div class="flex-grow pl-20">
                                                      <h4><a class="text-white" href="#">Villupuram</a></h4>
                                                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                                      
                                                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                                    </div>
                                                  </div>
                                                </div>
                                               
                                              </div>
                                            </div>
                                        <div class="col-md-6 col-lg-3">
                                              <div class="card">
                                                <div class="text-white card-body bg-info py-60">
                                                  <div class="flexbox">
                                                    <a href="#">
                                                      <img class="avatar avatar-xxl avatar-bordered" src="assets/img/avatar/1.jpg">
                                                    </a>
                                                    <div class="flex-grow pl-20">
                                                      <h4><a class="text-white" href="#">Virudhunagr</a></h4>
                                                      <div><i class="fa fa-fw fa-map-marker w-20px"></i>Contact No</div>
                                                      
                                                      <div><i class="fa fa-fw fa-envelope w-20px"></i> Mail Id</div>
                                                    </div>
                                                  </div>
                                                </div>
                                               
                                              </div>
                                            </div>
                                        </div>
      </div>
  <!--End of Main Content-->
