.card{
    background-color: orange !important;
}
.bg-info{
    background-color: orange !important;
}
h1{
    text-align: center !important;
    font-weight: 600 !important;
    font-size: 25px !important;
    font-family: serif !important;
    color:black !important;
}