
<div class="row" style="background-color: orange">
<div class="col-md-3">
<!--slide bar-->
<div class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
  <header class="sidebar-header">
    <a class="logo-icon" href="index.html"></a>
    <span class="logo">
      <a href="index.html">Tamil Nadu Judo Association</a>
    </span>
    <span class="sidebar-toggle-fold"></span>
  </header>

  <nav class="sidebar-navigation">
    <ul class="menu">
      <li class="menu-item">
        <a class="menu-link" href="Tournament Registration.html">
          <span class="icon fa fa-home"></span>
          <span class="title">Tournament Form Registration</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="menu-link" href="UploadForm.html">
          <span class="icon fa fa-tv"></span>
          <span class="title">Scan and Upload </span>
          
        </a>
      </li>

       <li class="menu-item">
        <a class="menu-link" href="#">
          <span class="icon fa fa-tv"></span>
          <span class="title">Validation</span>
          <span class="arrow"></span>
        </a>

        <ul class="menu-submenu">
          <li class="menu-item">
            <a class="menu-link" href="samples/invoicer/index.html" target="_blank">
              <span class="dot"></span>
              <span class="title">Verified List</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="samples/job/index.html" target="_blank">
              <span class="dot"></span>
              <span class="title">Un Verified List</span>
            </a>
          </li>
        </ul>
       </li>

      <li class="menu-item">
        <a class="menu-link" href="#">
          <span class="icon fa fa-tv"></span>
          <span class="title">Import List</span>
          <span class="arrow"></span>
        </a>

        <ul class="menu-submenu">
          <li class="menu-item">
            <a class="menu-link" href="samples/invoicer/index.html" target="_blank">
              <span class="dot"></span>
              <span class="title">Winners List</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="samples/job/index.html" target="_blank">
              <span class="dot"></span>
              <span class="title">Participant List</span>
            </a>
          </li>

          
        </ul>
       </li>
       <li class="menu-item">
        <a class="menu-link" href="#">
          <span class="icon fa fa-tv"></span>
          <span class="title">Print Certificates</span>
          <span class="arrow"></span>
        </a>

        <ul class="menu-submenu">
          <li class="menu-item">
            <a class="menu-link" href="samples/invoicer/index.html" target="_blank">
              <span class="dot"></span>
              <span class="title">Winners List</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="samples/job/index.html" target="_blank">
              <span class="dot"></span>
              <span class="title">Participant List</span>
            </a>
          </li>

          
        </ul>
       </li>
       <li class="menu-item">
        <a class="menu-link" href="#">
          <span class="icon ti-layout"></span>
          <span class="title">Logout</span>
          <span class="arrow"></span>
        </a>
       </li>
       <li class="menu-item">
        <a class="menu-link" href="#">
          <span class="icon ti-layout"></span>
          <span class="title">Login</span>
          <span class="arrow"></span>
        </a>
       </li>
       <li class="menu-item">
        <a class="menu-link" href="#">
          <span class="icon ti-layout"></span>
          <span class="title">NOC Form</span>
          <span class="arrow"></span>
        </a>
       </li>
    </ul>
  </nav>
</div>
</div>
<!-- END Sidebar -->
<!-- Main container -->
 <div class="col-md-9">
  <main class="main-container">
    <div class="main-content">
            <div class="row" >
            <!--
           |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
           | Basic controls
           |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
           !-->
           <div class="col-12">
             <div class="card" style="background-color: orange" >
               <h4 class="card-title"><strong>Tournament</strong> Registration</h4>
 
               <div class="card-body" style="background-color: orange">
                 <div class="row">
         
                   <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Full Name</label>
                       <input type="text" class="form-control" id="input-required" maxlength="24">
                     </div>
                   </div>
           
                   <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Date Of Birth</label>
                       <input type="date" class="form-control" id="input-required" style="width:200px">
                     </div>
                   </div>
           
            <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Aadhaar Number</label>
                       <input type="text" class="form-control" id="input-required" maxlength="12">
                     </div>
                   </div>
           
            <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Birth Place</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
           
            <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Age</label>
                       <input type="text" class="form-control" id="input-required" maxlength="2" style="width:200px"placeholder="as on 2018">
                     </div>
                   </div>
           
           <div class="col-md-2">
                             <div class="form-group">
                       <label class="require" for="input-required">Height (cm)</label>
                       <input type="text" class="form-control" id="input-required" maxlength="3" style="width:100px">
                     </div>
                   </div>
           
            <div class="col-md-2">
                             <div class="form-group">
                       <label class="require" for="input-required">Weight (kg)</label>
                       <input type="text" class="form-control" id="input-required" maxlength="3"style="width:100px">
                     </div>
                   </div>
           
           <div class="col-md-8">
                             <div class="form-group">
                       <label class="require" for="input-required">Permanent Residential Address</label>
                       <input type="text" class="form-control" id="input-required" style="height:100px" placeholder="As in Aadhaar">
                     </div>
           </div>
           <div class="col-md-4">
              <br/>
           </div>
  
           <div class="col-md-8">
                             <div class="form-group">
                       <label class="require" for="input-required">Current Residential Address</label>
                       <input type="text" class="form-control" id="input-required" style="height:100px">
                     </div>
           </div>
           <div class="col-md-4">
             <br/>
           </div>
           
                   <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Mobile No</label>
                       <input type="tel" class="form-control" id="input-required" style="width:200px"pattern="[0-9]{5}-[0-9]{5}" maxlength="10">
             </div>
                   </div>
           
           
           
                   <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Email Id</label>
                       <input type="email" class="form-control" id="input-required">
                     </div>
                   </div>
                   <div class="col-md-4">
                     <br/>
                   </div>
           
            <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Playing for District </label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
           
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Club Name</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
           
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Coach Name</label>
                       <input type="text" class="form-control" id="input-required" Maxlength="24">
                     </div>
                   </div>
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Current Standard Level </label>
             <select id="input-required" class="form-control">
             <option>School</option>
             <option>Arts & Science College</option>
             <option>Engineering College</option>
             <option>Medical College</option>
             </select>
                       </div>
                   </div>
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Educational Institution Name</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
           </div>
           </div>
           
           
           <div class="card" style="background-color: orange" >
               <h4 class="card-title"><strong>Family</strong> Details</h4>
 
               <div class="card-body" style="background-color: orange">
                 <div class="row">
         
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Father Name</label>
                       <input type="text" class="form-control" id="input-required" maxlength="24">
                     </div>
                   </div>
           <div class="col-md-2">
                             <div class="form-group">
                       <label class="require" for="input-required">Father Age</label>
                       <input type="text" class="form-control" id="input-required" maxlength="2" style="width:100px">
                     </div>
                   </div>
                   <div class="col-md-2">
                             <div class="form-group">
                       <label class="require" for="input-required">Qualification</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Occupation</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Mother Name</label>
                       <input type="text" class="form-control" id="input-required" maxlength="24">
                     </div>
                   </div>
          
                   <div class="col-md-2">
                             <div class="form-group">
                       <label class="require" for="input-required">Qualification</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Occupation</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
                   <div class="col-md-2">
                      <div class="form-group">
                      <label class="require" for="input-required">No.of.Siblings</label>
                      <input type="text" class="form-control" id="input-required">
                    </div>
                   </div>
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Economic Status </label>
                       <select id="input-required" class="form-control"> 
             <option>BPL (Below Provery Line) </option>
             <option> APL (Above Proverty Line) </option>
             </select> 
                     </div>
                   </div>
            
            </div>
            </div>
              </div>
           
           <div class="card" style="background-color: orange" >
               <h4 class="card-title"><strong>Health</strong> Condition</h4>
 
               <div class="card-body" style="background-color: orange"> 
                 <div class="row">
           
           <div class="col-md-3">
                             <div class="form-group">
                       <label class="require" for="input-required">Blood Group</label>
                       <input type="text" class="form-control" id="input-required"style="width:150px">
                     </div>
                   </div>
                 
            <div class="col-md-5">
                             <div class="form-group">
                       <label class="require" for="input-required">Health changelles If any</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
           <div class="col-md-4">
                             <div class="form-group">
                       <label class="require" for="input-required">Visible Mark</label>
                       <input type="text" class="form-control" id="input-required">
                     </div>
                   </div>
            </div>
            </div>
              </div>
               
           <div class="card" style="background-color: orange">
               <h4 class="card-title"><strong>Documents</strong> To Be Uploaded
         
         </h4>
 
 
               <div class="card-body" style="background-color: orange">
                 <div class="row">
           <div class="col-md-4">
                 <p>Passport Size Photo</p>
                 <div class="input-group file-group">
                   <input type="text" class="form-control file-value" placeholder="Choose file..." readonly>
                   <input type="file" multiple>
                   <span class="input-group-append">
                     <button class="btn btn-light file-browser" type="button"><i class="fa fa-upload"></i></button>
                   </span>
                 </div>
               </div>
         
         <div class="col-md-4">
                 <p>Aadhaar card</p>
                 <div class="input-group file-group">
                   <input type="text" class="form-control file-value" placeholder="Choose file..." readonly>
                   <input type="file" multiple>
                   <span class="input-group-append">
                     <button class="btn btn-light file-browser" type="button"><i class="fa fa-upload"></i></button>
                   </span>
                 </div>
               </div>
         
             <div class="col-md-4">
                 <p><span>Any document &nbsp; </span><span style="font-size:10px">(Birth Certificate, Class X certificate)</span></p>
                 <div class="input-group file-group">
                   <input type="text" class="form-control file-value" placeholder="Choose file..." readonly>
                   <input type="file" multiple>
                   <span class="input-group-append">
                     <button class="btn btn-light file-browser" type="button"><i class="fa fa-upload"></i></button>
                   </span>
                 </div>
               </div>
             <div class="col-md-4">
                 <p>Income Certificate (Father / Mother )</p>
                 <div class="input-group file-group">
                   <input type="text" class="form-control file-value" placeholder="Choose file..." readonly>
                   <input type="file" multiple>
                   <span class="input-group-append">
                     <button class="btn btn-light file-browser" type="button"><i class="fa fa-upload"></i></button>
                   </span>
                 </div>
               </div>
            </div>
            </div>
              </div>
         
            <div class="col-md-4">
           <button class="btn btn-w-md btn-info">Submit</button>
           
             </div>
			  
           </div>
            </div>
              </div>
            
            </div>
   </main>
  </div>
 <!--End of Main container-->
 </div>